@import "mixFuncVar.scss";

.catalogueHtml {
    overflow-x: hidden;
}
.shop-catalogue__btn {
    display: none;
}

.catalogue-slider {
    width: 100%;
    display: inline-block;
}
.catalogue-slider__content {
}
.catalogue-slide__slide-wrapper {
    margin-top: 101px;
}
.catalogue-slide__slide-item {
    background: url(../img/Catalogue/catalogue-banner-1.webp) no-repeat;
    border-radius: 24px;
    width: 77.6%;
    margin: 0 auto;
    height: 498px;
    position: relative;
    box-sizing: border-box;
}
.catalogue-slide__slide-text-wrapper {
    display: inline-block;
    width: 46%;
    margin-left: 70px;
}
.catalogue-slide__title {
    font-family: "Effra";
    font-style: normal;
    font-weight: 500;
    font-size: em(50);
    line-height: lh(60, 50);
    color: #ffffff;

    margin-top: 121px;
}
.catalogue-slide__subtitle {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: em(18);
    line-height: lh(25, 18);
    color: #ffffff;
    opacity: 0.7;

    margin-top: 19px;
    width: 69%;
}
.take-quiz {
    margin-top: 31px;
    display: block;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.catalogue-slide__btn {
    width: 255px;
    height: 65px;
    background: #ffffff;
    border-radius: 100px;
    font-family: "Effra";
    font-style: normal;
    font-weight: 700;
    font-size: em(20);
    line-height: lh(24, 20);
    text-align: center;
    color: #000000;
}

.swiper-catalogue-button-prev {
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    background-color: #ffffff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/Catalogue/left-arrow.svg);
    background-position: center center;
    position: absolute;
    top: 47%;
    left: -34px;
}
.swiper-catalogue-button-next {
    background-image: url(../img/Catalogue/right-arrow.svg);
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    background-color: #ffffff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    background-position: center center;
    align-items: center;
    position: absolute;
    top: 47%;
    right: -35px;
}
.catalogue-slide__slide-wrapper {
    position: relative;
}

.catalogue-slide__false-slide {
    position: absolute;
    width: 100%;
    height: 473px;
    top: 27px;
    width: 8.4%;
    background: #8172dd;
    opacity: 0.2;
}

.catalogue-slide__false-slide_left {
    left: 0;
    border-radius: 0 25px 25px 0;
}

.catalogue-slide__false-slide_right {
    right: 0;
    border-radius: 25px 0 0 25px;
}
.shop-catalogue {
}
.shop-catalogue__content {
    width: 1396px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 20% 80%;
    column-gap: 78px;
}
.shop-catalogue__left-wr {
    .shop-menu__center {
        width: 100%;
        margin-top: 90px;
    }
    .menu__item {
        margin-bottom: 45px;
        font-family: "Effra";
        font-style: normal;
        font-weight: 400;
        font-size: em(22);
        line-height: lh(27, 22);
        color: #000000;
        &:first-of-type {
            color: #ff7d4e;
        }
    }
}

.shop-catalogue__right-wr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
    margin-top: 58px;
    width: 93%;
}
.shop-catalogue__card-wr {
    height: 479px;
    background: #faf8f6;
    border-radius: 16px;
    width: 100%;
}
.tablet {
    margin: 0 auto;
    margin-top: 62px;
    display: block;
    margin-top: 41px;
}
.shop-catalogue__subtitle {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: em(14);
    line-height: lh(19, 14);
}
.light-purple {
    color: #6b5ebb;
}
.shop-catalogue__title {
    font-family: "Effra";
    font-style: normal;
    font-weight: 400;
    font-size: em(20);
    line-height: lh(24, 20);
    color: #000000;
    margin-top: 13px;
    width: 85%;
}
.shop-catalogue__price {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: em(20);
    line-height: lh(27, 20);
    color: #000000;

    margin-top: 41px;
}

.shop-catalogue__card-text-wr {
    padding-left: 30px;
    margin-top: 40px;
}
.shop-catalogue__price-discont {
    display: none;
    color: #d32d2c;
    margin-left: 12px;
}
.shop-catalogue-disc {
    position: relative;
    .shop-catalogue__price-discont {
        display: inline;
        color: #d32d2c;
        margin-left: 7px;
        font-size: 20px;
    }
    .someClass {
        text-decoration: line-through;
    }

    &::after {
        content: url(../img/Catalogue/discont.svg);
        position: absolute;
        top: 31px;
        right: 30px;
    }
}
.itemCard12 {
    .shop-catalogue__title {
        width: 83%;
    }
}
.mt20 {
    margin-top: 16px;
}
.light-blue {
    color: #5e73bb;
}
.light-green {
    color: #6bb0a4;
}
.light-yellow {
    color: #e5ac3b;
}
.light-red {
    color: #e5463b;
}
.sky-blue {
    color: #5f9dca;
}
.bright-purple {
    color: #9448a0;
}
@media screen and (min-width: 1801px) {
    .swiper-catalogue-button-next,
    .swiper-catalogue-button-prev {
        right: 56px;
    }
    .header__container {
        width: 98vw;
    }
    .catalogue-slide__slide-item {
        background-size: cover;
    }
    .swiper-catalogue-button-next {
        right: -34px;
    }
}
@media screen and (max-width: 1799px) {
    .catalogue-slide__false-slide {
        display: none;
    }
    .catalogue-slide__slide-item {
        width: unset;
        max-width: 70%;
        background-position: center;
        border-radius: 7%;
    }

    .catalogue-slide__title {
        margin-top: 15%;
    }
}

.swiper-catalogue-pagination {
    display: none;
}

@media screen and (max-width: 1439px) {
    .catalogue-slide__slide-text-wrapper {
        font-size: 15px;
    }
    .shop-catalogue__content {
        max-width: 912px;
    }
    .shop-catalogue__right-wr {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 1023px) {
    .catalogue-slide__slide-text-wrapper {
        font-size: 15px;
        margin-left: 45px;
        width: 100%;
    }

    .catalogue-slide__title {
        width: 99%;
    }
    .shop-catalogue__content {
        grid-template-columns: 1fr;
        max-width: 700px;
        .shop-menu__center {
            position: relative;
            margin-top: 40px;
            .menu__item {
                text-align: center;
                display: none;
                &:first-of-type {
                    display: block;
                    text-align: center;
                    cursor: pointer;
                }
            }
            .menu__item.active {
                display: block;
            }
            &::after {
                content: url(../img/Catalogue/Back_arrow.svg);
                background: no-repeat;
                position: absolute;
                top: 0;
                right: 10px;
                display: none;
            }
        }
    }
    .shop-catalogue__right-wr {
        width: 50%;
        grid-template-columns: 1fr;
        margin: 0px auto 0px;
    }
    .shop-catalogue__left-wr {
    }
}

@media screen and (max-width: 767px) {
    .swiper-catalogue-button-prev,
    .swiper-catalogue-button-next {
        display: none;
    }
    .catalogue-slide__slide-item {
        max-width: 100%;
    }
    .swiper-catalogue-pagination {
        display: block;
    }
    .catalogue-slide__slide-item {
        background: url(../img/Catalogue/slider-banner_375.webp) no-repeat;
        background-color: #8172dd;
        background-position: center top;
        border-radius: 0;
    }
    .catalogue-slide__slide-wrapper {
        margin-top: 71px;
    }

    .catalogue-slide__slide-item {
        height: 476px;
    }
    .catalogue-slide__slide-text-wrapper {
        margin-left: 0;
    }

    .catalogue-slide__title {
        width: 100%;
        font-size: 24px;
        margin-top: 225px;
        text-align: center;
    }

    .catalogue-slide__subtitle {
        width: 100%;
        text-align: center;
        font-size: 14px;
        margin-top: 16px;
        width: 91%;
        margin: 0 auto;
        margin-top: 16px;
    }

    .catalogue-slide__btn {
        width: 154px;
        height: 50px;
        margin: 0 auto;
        margin-top: 20px;
        font-size: 16px;
    }

    .catalogue-slide__slide-item {
        border-radius: 0;
    }

    .swiper-catalogue-pagination {
        position: relative;
        bottom: 37px;
        z-index: 9999;
        left: 50%;
        text-align: center;
    }
    .swiper-horizontal > .swiper-pagination-bullets {
        bottom: 45px !important;
    }

    .swiper-pagination-bullet {
        width: 8px !important;
        height: 8px !important;
        background: white !important;
        opacity: 0.3 !important;
    }
    .swiper-pagination-bullet-active {
        width: 8px !important;
        height: 8px !important;
        background: #ffffff !important;
        opacity: 1 !important;
    }

    .shop-catalogue__content {
        max-width: 100%;
        .shop-menu__center {
            margin-top: -30px;
            // position: relative;

            .menu__item {
                font-family: "Effra";
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                color: #000000;
                margin-left: 20px;
                text-align: start;
                margin: 15px 0 15px 20px;
                &:first-of-type {
                    position: relative;
                    text-align: inherit;
                    margin-top: 31px;
                }
            }
        }
        .shop-menu__center::after {
            content: url(../img/Catalogue/Back_arrow.svg);
            background: no-repeat;
            position: absolute;
            top: 0;
            right: 21px;
            display: block;
        }
    }
    .shop-catalogue__left-wr {
        position: relative;

        &:after {
            position: absolute;
            top: 39px;
            left: 0;
            content: "";
            border-bottom: 1px solid #f2f2f2;
            width: 100vw;
        }
    }

    .shop-catalogue__right-wr {
        grid-template-columns: 1fr 1fr;
        width: 90%;
        gap: 10px;
    }
    .shop-catalogue__card-wr {
        width: 160px;
        height: 279px;
        img {
            width: 130px;
            height: 120px;
        }
    }

    .shop-catalogue__card-text-wr {
        padding-left: 16px;
        margin-top: 7px;
    }

    .shop-catalogue__subtitle {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        color: #6b5ebb;
    }

    .shop-catalogue__title {
        font-family: "Effra";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */
        color: #000000;
        width: 100%;
    }

    .shop-catalogue__price {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        /* identical to box height */
        color: #000000;
        margin-top: 33px;
    }
    .someClass {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        /* identical to box height */
        color: #000000;
    }
    .tablet {
        margin: 19px auto 0;
    }
    .mt20 {
        margin-top: 0px;
    }
    .shop-catalogue__card-wr {
        height: 285px;
        margin-bottom: 5px;

        position: relative;
    }
    .shop-catalogue__price {
        position: absolute;
        bottom: 20px;
    }
    .shop-catalogue__price {
        margin-top: 15px;
    }
    .swiper-pagination-bullet {
        margin: 0 12px !important;
    }
    .shop-catalogue__title {
        // position: absolute;
        // bottom: 53px;
        // width: 90%;
        margin-top: 0;
    }

    .shop-catalogue__subtitle {
        margin-bottom: 21px;
        margin-bottom: 6px;
    }
    .light-blue,
    .light-green {
        margin-bottom: 38px;
        margin-bottom: 23px;
    }
    .shop-catalogue__price-discont {
        top: -15px;
    }
    .shop-catalogue__card-wr {
        position: absolute;
        opacity: 0;
        transition: 0.3s ease-in-out;
        pointer-events: none;
    }

    .shop-catalogue__card-wr.active {
        position: relative;
        animation: opacity-open 0.3s;
        opacity: 1;
        pointer-events: all;
    }
    .mobile-375 {
        transition: 0.3s;
        opacity: 1;
        position: relative;
    }
    .shop-catalogue__right-wr {
    }
    .shop-catalogue__btn {
        width: 335px;
        height: 50px;
        background: #faf8f6;
        border-radius: 40px;
        font-family: "Effra";
        font-style: normal;
        font-weight: 500;
        font-size: 1em;
        line-height: lh(19, 16);
        color: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin: 7px auto 0;
        transition: 1s;
        border: 0px solid transparent;

        &:hover {
            box-sizing: border-box;
            transition: 1s;
            border: 1px solid #ff7d4e;

            transition: 0.6s;
        }
        img {
            margin-left: 12px;
        }
    }
    .shop-catalogue__right-wr {
        margin-top: 35px;
    }
}

@media screen and (max-width: 374px) {
    .catalogue-slide__slide-item {
        max-width: 100%;
        background: url(../img/Catalogue/slider-banner_320.webp) center top
            no-repeat #8172dd;
    }
    .catalogue-slide__slide-item {
        height: 463px;
    }

    .catalogue-slide__title {
        margin-top: 194px;
    }
    .shop-catalogue__right-wr {
        /* display: none; */
        grid-template-columns: 1fr;
    }
    .shop-catalogue__card-wr {
        width: 100%;
        height: 405px;
        img {
            width: 240px;
            height: 222px;
            margin-top: 31px;
        }
    }
    .shop-catalogue__btn {
        // display: none;
        width: 300px;
    }
    .shop-catalogue__card-wr {
        left: 0;
    }
    .shop-catalogue__content .shop-menu__center .menu__item {
        margin-top: 23px;
    }
    .shop-catalogue__card-text-wr {
        margin-top: 32px;
        padding-left: 24px;
    }
    .shop-catalogue__title {
        margin-top: 10px;
    }
    .shop-catalogue__price {
        bottom: 18px;
    }
    .mobile-375 {
        display: none;
        pointer-events: none;
    }
    .mobile-320 {
        display: block;
        pointer-events: all;
    }
    .shop-catalogue__title {
        width: 91%;
    }
}
