.catalogue-slider {
    width: 100%;
    display: inline-block;
}
.catalogue-slider__content {
}
.catalogue-slide__slide-wrapper {
    margin-top: 101px;
}
.catalogue-slide__slide-item {
    background: url(../img/Catalogue/catalogue-banner-1.webp) no-repeat;
    border-radius: 24px;
    width: 77.6%;
    margin: 0 auto;
    height: 498px;
    position: relative;
    box-sizing: border-box;
}
.catalogue-slide__slide-text-wrapper {
    display: inline-block;
    width: 46%;
    margin-left: 70px;
}
.catalogue-slide__title {
    font-family: "Effra";
    font-style: normal;
    font-weight: 500;
    font-size: em(50);
    line-height: lh(60, 50);
    color: #ffffff;

    margin-top: 121px;
}
.catalogue-slide__subtitle {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: em(18);
    line-height: lh(25, 18);
    color: #ffffff;
    opacity: 0.7;

    margin-top: 19px;
    width: 69%;
}
.take-quiz {
    margin-top: 31px;
    display: block;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.catalogue-slide__btn {
    width: 255px;
    height: 65px;
    background: #ffffff;
    border-radius: 100px;
    font-family: "Effra";
    font-style: normal;
    font-weight: 700;
    font-size: em(20);
    line-height: lh(24, 20);
    text-align: center;
    color: #000000;
}

.swiper-catalogue-button-prev {
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    background-color: #ffffff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/Catalogue/left-arrow.svg);
    background-position: center center;
    position: absolute;
    top: 47%;
    left: -34px;
}
.swiper-catalogue-button-next {
    background-image: url(../img/Catalogue/right-arrow.svg);
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    background-color: #ffffff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    background-position: center center;
    align-items: center;
    position: absolute;
    top: 47%;
    right: -35px;
}
.catalogue-slide__slide-wrapper {
    position: relative;
}

.catalogue-slide__false-slide {
    position: absolute;
    width: 100%;
    height: 473px;
    top: 27px;
    width: 8.4%;
    background: #8172dd;
    opacity: 0.2;
}

.catalogue-slide__false-slide_left {
    left: 0;
    border-radius: 0 25px 25px 0;
}

.catalogue-slide__false-slide_right {
    right: 0;
    border-radius: 25px 0 0 25px;
}

@media screen and (max-width: 1799px) {
    .catalogue-slide__false-slide {
        display: none;
    }
    .catalogue-slide__slide-item {
        width: unset;
        max-width: 70%;
        background-position: center;
        border-radius: 7%;
    }

    .catalogue-slide__title {
        margin-top: 15%;
    }
}

.swiper-catalogue-pagination {
    display: none;
}

@media screen and (max-width: 1439px) {
    .catalogue-slide__slide-text-wrapper {
        font-size: 15px;
    }
}

@media screen and (max-width: 1023px) {
    .catalogue-slide__slide-text-wrapper {
        font-size: 15px;
        margin-left: 45px;
        width: 100%;
    }

    .catalogue-slide__title {
        width: 99%;
    }
}

@media screen and (max-width: 767px) {
    .swiper-catalogue-button-prev,
    .swiper-catalogue-button-next {
        display: none;
    }
    .catalogue-slide__slide-item {
        max-width: 100%;
    }
    .swiper-catalogue-pagination {
        display: block;
    }
    .catalogue-slide__slide-item {
        background: url(../img/Catalogue/slider-banner_375.webp) no-repeat;
        background-color: #8172dd;
        background-position: center top;
        border-radius: 0;
    }
    .catalogue-slide__slide-wrapper {
        margin-top: 71px;
    }

    .catalogue-slide__slide-item {
        height: 476px;
    }
    .catalogue-slide__slide-text-wrapper {
        margin-left: 0;
    }

    .catalogue-slide__title {
        width: 100%;
        font-size: 24px;
        margin-top: 225px;
        text-align: center;
    }

    .catalogue-slide__subtitle {
        width: 100%;
        text-align: center;
        font-size: 14px;
        margin-top: 16px;
        width: 91%;
        margin: 0 auto;
        margin-top: 16px;
    }

    .catalogue-slide__btn {
        width: 154px;
        height: 50px;
        margin: 0 auto;
        margin-top: 20px;
        font-size: 16px;
    }

    .catalogue-slide__slide-item {
        border-radius: 0;
    }

    .swiper-catalogue-pagination {
        position: relative;
        bottom: 37px;
        z-index: 9999;
        left: 50%;
        text-align: center;
    }
    .swiper-horizontal > .swiper-pagination-bullets {
        bottom: 45px !important;
    }

    .swiper-pagination-bullet {
        width: 8px !important;
        height: 8px !important;
        background: white !important;
        opacity: 0.3 !important;
    }
    .swiper-pagination-bullet-active {
        width: 8px !important;
        height: 8px !important;
        background: #ffffff !important;
        opacity: 1 !important;
    }
}
