.header__main {
    margin: 30px 0 0 0;

    position: absolute;
    z-index: 3;
}
.header__container {
    display: flex;
    align-items: center;
    width: 100vw !important;
}
.header__logo-icon {
    display: block;
    flex-grow: 1;
    margin: 0px 0px 0px 20px;
    img {
        cursor: pointer;
    }
}
.header__account {
    .header__account-icon {
        cursor: pointer;

        margin: 0px 0px 0px 0px;
        display: block;
    }
}
.header__cart {
    .header__cart-icon {
        cursor: pointer;

        margin: 0px 0px 0px 30px;
        display: block;
    }
}
.header__button {
    font-family: Effra;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    text-align: center;
    color: #ffffff;

    background: #ff7d4e;
    border-radius: 100px;

    width: 154px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0px 15px 0px 30px;
}

@media (max-width: 767px) {
    .header__container {
        justify-content: space-between;

        padding: 0px 20px 0px 20px;
    }
    .header__main {
        margin: 15px 0 0;
        padding: 0px 0px 15px 0px;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.7);
    }
    .header__button {
        display: none;
    }
    .header__logo-icon {
        order: 2;
        flex-grow: 0;

        margin: 0px 0px 0px 0px;
        img {
            width: 33.6px;
            height: 40px;
        }
    }
    .header__account {
        order: 1;
    }
    .header__cart {
        order: 3;
        .header__cart-icon {
            margin: 0px 0px 0px 0px;
        }
    }
}
