// lending-vitamin
.lending{
    background-color: #fff;
}
.lending-vitamin__container{
    padding: 0px 0px 0px 0px;
    width: 100vw;

    display: flex;
    position: relative;

    height: 960px;
    &::before{
        content: "";
        position: absolute;
        bottom: 38px;
        right: 42.3%;
        z-index: 2;

        background-image: url("../img/Lending/line-header2.svg");
        background-repeat: no-repeat;
        background-position: top 0 right 0;

        width: 280px;
        height: 140px;
    }
}
.lending-vitamin__text-contents {
    display: flex;
    flex-direction: column;

    flex: 0 1 50%;

    padding: 0 0 0 202px;

    position: relative;
    &::before{
        content: "";
        position: absolute;
        right: 191px;
        z-index: 2;

        background-image: url("../img/Lending/line-header1.svg");
        background-repeat: no-repeat;
        background-position: top 0 right 0;

        width: 180px;
        height: 165px;
    }
}
.lending-vitamin__text-title {
    font-family: 'Effra';
    font-weight: 500;
    font-size: 56px;
    line-height: 68px;

    margin: 260px 0px 0px 0px;
    span{
        color: rgba(237, 129, 94, 1);
    }
}
.lending-vitamin__text-text {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 163.42%;

    color: #808080;

    margin: 35px 0px 0px 0px;
}
.lending-vitamin__button {
    margin: 51px 0px 0px 0px;
    display: flex;
    align-items: center;
}
.lending-vitamin__button-left {
    background: #6E5DDC;
    border-radius: 200px;
    width: 260px;
    height: 74px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 163.42%;
    color: #FFFFFF;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0px 33px 0px 0px;
    padding: 0px 0px 3px 0px;
}
.lending-vitamin__button-right {
    font-family: 'Effra';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #F27E58;

    background-image: url('../img/Lending/arrow-to-shop.svg');
    background-repeat: no-repeat;
    background-position: right 2px top 6px;

    padding: 0px 20px 0px 0px;
    margin: 0px 0px 0px 0px;
}
.lending-vitamin__icon-contents {
    flex: 0 1 50%;

    overflow: hidden;
    background-color: #F9F9F9;

    position: relative;
    &::before{
        content: "";
        background-color: #6E5DDC;
        border-radius: 100%;
        width: 523px;
        height: 523px;

        position: absolute;
        top: 218px;
        left: 189px;
        z-index: 0;
    }
    &::after{
        content: "";
        background-color: #FFCA78;
        border-radius: 100%;
        width: 95px;
        height: 95px;

        position: absolute;
        top: 171px;
        right: 74px;
        z-index: 0;
    }
}
.lending-vitamin__block {
    img{
        object-position: left -186px top 135px;

        position: relative;
        z-index: 1;
    }
    }

@media (max-width: 1460px){
    .lending-vitamin__container{
        width: 1190px;
        height: 100%;

        flex-direction: column;

        padding: 0 15px;
    }
    .lending-vitamin__text-title{
        margin-top: clamp(6.875rem, 4.243rem + 13.16vw, 16.25rem);
    }
    .lending-vitamin__text-contents{
        flex: 0 1 100%;
        padding: 0px 0px 0px 0px;

        text-align: center;
        align-items: center;
    }
    .lending-vitamin__icon-contents{
        flex: 0 1 100%;
        
        background-color: #fff;
    }
    .lending-vitamin__text-contents::before{
        bottom: 0;
        right: 0;
        transform: rotate(180deg);
    }
    .lending-vitamin__icon-contents::after{
        display: none;
    }
    .lending-vitamin__icon-contents::before{
        top: 60px;
        left: 340px;
    }
    .lending-vitamin__icon-contents img{
        object-position: left -65px top 0px;
    }   
    .lending-vitamin__container::before{
        top: 50%;
        bottom: 0;
        right: 0;
        left: -130px;
    }
}
@media (max-width: 1140px){
    .lending-vitamin__container{
        width: 912px;
    }
    .lending-vitamin__icon-contents img{
        object-position: left -170px top 0;
    }
    .lending-vitamin__icon-contents::before{
        left: 225px;
    }
}
@media (max-width: 890px){
    .lending-vitamin__container{
        width: 645px;
    }
    .lending-vitamin__button{
        flex-direction: column;
        gap: 20px;
    }
    .lending-vitamin__icon-contents img {
        object-position: left 0 top -25px;
        inline-size: 100%;
    }
    .lending-vitamin__icon-contents::before{
        display: none;
    }
}
@media (max-width: 645px){
    .lending-vitamin__container{
        width: 375px;
        padding: 0px 0px 0px 0px;
    }
    .lending-vitamin__text-title{
        font-size: 24px;
        line-height: 29px;

        margin-top: 110px;
        padding: 0 20px;
        br{
            display: none;
        }
    }
    .lending-vitamin__text-text{
        font-size: 14px;
        line-height: 163.42%;

        margin-top: 15px;
    }
    .lending-vitamin__text-contents::before{
        width: 75px;
        height: 90px;

        background-size: 100%;

        bottom: 1px;
        right: -1px;
    }
    .lending-vitamin__button{
        margin-top: 20px;
    }
    .lending-vitamin__button-left{
        width: 154px;
        height: 50px;

        font-size: 16px;
        line-height: 19px;

        margin: 0px 0px 0px 0px;
    }
    .lending-vitamin__button-right{
        font-size: 14px;
        line-height: 17px;

        margin: 0 0 0 2px;

        background-position: right 7px top 5px;
        background-size: 5.3%;
    }
    .lending-vitamin__icon-contents img {
        display: none;
    }
    .lending-vitamin__block{
        background-image: url('../img/Lending/lending-vitamins2.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-position: top 13px left 1px;
        background-size: 100%;

        height: 341px;
    }
    .lending-vitamin__container::before{
        background-size: 100%;

        top: 56.3%;
        bottom: 0;
        right: 0;
        left: -64px;
        width: 138px;
        height: 84px;
    }
}
@media (max-width: 374px){
    .lending-vitamin__container{
        width: 320px;
    }
    .lending-vitamin__text-title{
        margin-left: 5px;
        br{
            display: block;
        }
    }
    .lending-vitamin__text-text{
        padding: 0 20px;
        margin-top: 14px;
        br{
            display: none;
        } 
    }
    .lending-vitamin__button {
        margin-top: 22px;
    }
    .lending-vitamin__text-contents::before {
        bottom: 30px;
        right: -12px;
    }
    .lending-vitamin__container::before {
        top: 61.9%;
        left: -68px;
    }
    .lending-vitamin__block {
        background-position: top 13px left 1px;
        background-size: 100%;

        height: 295px;
    }
}


// lending-healthy
.lending-healthy__container {
    width: 100vw;
    height: 960px;
    display: flex;

    padding: 0px 0px 0px 0px;
}
.lending-healthy__content-left {
    background-image: url('../img/Lending/lending-healthy.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 50%;

    margin: 0px 0px 0px 0px;
    padding: 0 0 44px 54px;

    position: relative;
    &::before{
        content: "";
        position: absolute;
        top: 65px;
        left: 126px;
        background-color: #FFCA78;
        border-radius: 100%;

        width: 139px;
        height: 139px;

    }
    h2{
        font-family: 'Effra';
        font-style: normal;
        font-weight: 500;
        font-size: 56px;
        line-height: 68px;
        
        color: #FFFFFF;  
    }
}
.lending-healthy__content-right {
    flex: 0 1 50%;

    padding: 109px 0 0 61px;
}
.lending-healthy__block {
    display: flex;
    gap: 90px;

    margin: 108px 0px 0px 0px;
    p{
        font-family: 'Effra';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 36px;
        padding-top: 6px;
    }
}
.lending-healthy__block-2{
    margin: 108px 0 0 7px;
    gap: 97px;
    p{
        padding: 13px 0px 0 0px;
    }
}
.lending-healthy__block-3{
    margin: 100px 0 0 9px;
    gap: 98px;
    p{
        padding: 18px 0px 0 0px;
    }
}
@media (max-width: 1460px){
    .lending-healthy__container{
        height: 100%;

        flex-direction: column;
    }
    .lending-healthy__content-left{
        background-size: cover;

        flex: 0 1 100%;

        padding: 15px 0px 15px 0px;
    }
    .lending-healthy__content-left::before{
        left: 85%;
        top: -25%;
    }
    .lending-healthy__content-right{
        flex: 0 1 100%;

        padding: 0px 0px 0px 0px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .lending-healthy__content-left h2{
        text-align: center;
    }
    .lending-healthy__block{
        margin-top: clamp(2.875rem, 2.037rem + 4.19vw, 6.75rem);
    }
}
@media (max-width: 890px){
    .lending-healthy__content-left h2{
        font-size: clamp(1.5rem, 0.377rem + 5.61vw, 3.5rem);
        line-height: clamp(1.813rem, 0.444rem + 6.84vw, 4.25rem);
    }
    .lending-healthy__block p{
        font-size: clamp(0.875rem, 0.314rem + 2.81vw, 1.875rem);
        line-height: clamp(1rem, 0.298rem + 3.51vw, 2.25rem);
    }
    .lending-healthy__block{
        gap: clamp(1.563rem, -0.718rem + 11.4vw, 5.625rem);
    }
    .lending-healthy__content-left::before{
        width: clamp(3.75rem, 0.978rem + 13.86vw, 8.688rem);
        height: clamp(3.75rem, 0.978rem + 13.86vw, 8.688rem);
    }
}
@media (max-width: 375px){
    .lending-healthy__content-left{
        height: 198px;

        padding: 0px 0px 0px 0px;

        flex: 1 1 auto;
        h2{
            font-size: 24px;
            line-height: 29px;
            padding: 0px 47px 0px 47px;
            br{
                display: none;
            }
        }
    }
    .lending-healthy__content-left::before {
        left: 79.8%;
        top: -15%;
        width: 60px;
        height: 60px;
    }
    .lending-healthy__content-right{
        padding: 0px 20px 0px 20px;

        align-items: flex-start;
    }
    .lending-healthy__block{
        margin-top: 40px;
        gap: 25.6px;
        img{
            height: 38px;
            width: 50px;
        }
        p{
            padding-top: 3px;

            font-size: 14px;
            line-height: 16.9px;
            br{
                display: none;
            }
        }
    }
    .lending-healthy__block-2{
        margin-top: 41px;
        margin-left: 4px;
        gap: 28.8px;
        img{
            height: 43px;
            width: 45px;
        }
        p{
            padding-top: 5px;
        }
    }
    .lending-healthy__block-3{
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: 4px;
        gap: 30.3px;
        img{
            height: 48px;
            width: 44px;
        }
        p{
            padding-top: 8px;
        }
    }
}
@media (max-width: 320px){
    .lending-healthy__content-left::before {
        left: 69.7%;
        top: -15.3%;
    }
    .lending-healthy__content-left h2 {
        padding: 0 18px;
    }
    .lending-healthy__block img{
        width: 47px;
    }
    .lending-healthy__block{
        p{
            br{
                display: block;
            }
        }
    }
    .lending-healthy__block-2 img {
        width: 39px;
    }
    .lending-healthy__block-3 img {
        width: 38px;
    }
}

// lending-listeners
.listeners__block-icon{
    img{
        &:nth-child(1){
            transform: translate(0,-278px);

            position: relative;
            z-index: 1;
        }
        &:nth-child(2){
            transform: translate(-58px,-101px);
        }
    }
}
.lending-listeners__text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: 49px;
    margin-bottom: 70px;
    padding: 0px 0px 0px 0px;

    position: relative;
    &::before{
        content: "";
        position: absolute;
        top: 4px;
        right: 20px;

        background-color: #8172DD;
        border-radius: 100%;

        width: 95px;
        height: 95px;
    }
    &::after{
        content: "";
        position: absolute;
        top: 18px;
        left: -52px;

        background-image: url('../img/Lending/lending-listeners-1.svg');
        background-repeat: no-repeat;

        width: 142px;
        height: 280px;
    }
    img{
        padding: 0px 1px 0px 0px;
    }
    h2{
        font-family: 'Effra';
        font-style: normal;
        font-weight: 500;
        font-size: 56px;
        line-height: 68px;
        text-align: center;

        margin: 50px 1px 0 0px;
    }
    p{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 163.42%;
        text-align: center;

        color: #808080;

        margin: 30px 0px 0px 0px;
    }
    a{
        width: 260px;
        height: 74px;
        margin: 52px 0px 0px 0px;
        padding: 0px 0px 3px 0px;

        background: #6E5DDC;
        border-radius: 200px;

        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 163.42%;

        color: #FFFFFF;

        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 1460px){
    .lending-listeners__container{
        width: 1140px;
    }
    .listeners__block-icon{
        margin-top: 180px;

        display: flex;
        justify-content: center;

        width: 100%;
    }
    .listeners__block-icon img:nth-child(2) {
        transform: translate(-58px,9px);

        width: clamp(16rem, 6.439rem + 47.81vw, 50.063rem);
    }
    .listeners__block-icon img:nth-child(1) {
        transform: translate(0,-150px);
        
        width: clamp(10.5rem, 4.149rem + 31.75vw, 33.125rem);
    }
}
@media (max-width: 1140px){
    .lending-listeners__container{
        width: 912px;
    }
}
@media (max-width: 890px){
    .lending-listeners__container{
        width: 645px;
    }
    .listeners__block-icon{
        margin-top: 110px;
    }
    .listeners__block-icon img:nth-child(1) {
        transform: translate(30px,-70px);
    }
    .listeners__block-icon img:nth-child(2) {
        transform: translate(-35px,9px);
    }
    .lending-listeners__text::after{
        display: none;
    }
    .lending-listeners__text{
        img{
            width: clamp(3.125rem, 1.371rem + 8.77vw, 6.25rem);
        }
        h2{
            font-size: clamp(1.5rem, 0.377rem + 5.61vw, 3.5rem);
            line-height: clamp(1.813rem, 0.444rem + 6.84vw, 4.25rem);
            margin-top: 30px;
        }
        p{
            font-size: clamp(0.875rem, 0.664rem + 1.05vw, 1.25rem);
            br{
                display: none;
            }
        }
        a{
            width: clamp(9.625rem, 5.906rem + 18.6vw, 16.25rem);
            height: clamp(3.125rem, 2.283rem + 4.21vw, 4.625rem);

            font-size: clamp(1rem, 0.86rem + 0.7vw, 1.25rem);
            line-height: clamp(1.188rem, 0.696rem + 2.46vw, 2.063rem);
        }
    }
}
@media (max-width: 645px){
    .lending-listeners__container{
        width: 375px;
    }
    .listeners__block-icon {
        margin-top: 57px;
    }
    .listeners__block-icon img:nth-child(1){
        width: 202.24px;
        height: 171.72px;

        transform: translate(59px,-56px);
    }
    .listeners__block-icon img:nth-child(2){
        width: 293.74px;
        height: 170.44px;

        transform: translate(-61px,9px);
    }
    .lending-listeners__text{
        margin-top: 68px;
        margin-bottom: 59px;
    }
    .lending-listeners__text::before{
        width: 60px;
        height: 60px;

        top: -35px;
        right: -45px;
    }
    .lending-listeners__text img{
        height: 50px;
        width: 50px;
        margin-left: -1px;
    }
    .lending-listeners__text h2{
        font-size: 24px;
        line-height: 29px;
        margin-right: 0;
    }
    .lending-listeners__text p{
        margin-top: 14px;
        padding: 0 7px 0 7px;

        font-size: 14px;
        line-height: 163.42%;
    }
    .lending-listeners__text a{
        margin-top: 28px;

        width: 154px;
        height: 50px;

        font-size: 16px;
        line-height: 19px;
    }
}
@media (max-width: 374px){
    .lending-listeners__container{
        width: 320px;
    }
    .listeners__block-icon {
        margin-top: 40px;
    }
    .listeners__block-icon img:nth-child(1){
        width: 168.24px;
        height: 142.85px;

        transform: translate(51px,-39px);
    }
    .listeners__block-icon img:nth-child(2){
        width: 256px;
        height: 148.54px;

        transform: translate(-53px,9px);
    }
    .lending-listeners__text::before{
        top: -15px;
    }
    .lending-listeners__text{
        margin-top: 69px;
        margin-bottom: 59px;
    }
    .lending-listeners__text h2{
        br{
            display: none;
        }
    }
    .lending-listeners__text a{
        margin-top: 22px;
        margin-right: 1px;
    }
}


// Choose
.lending-choose__container{
    margin-top: 80px;
    padding: 0px 0px 0px 0px;
    width: 100vw;

    display: flex;
    align-items: center;
}



.lending-choose__swiper {
    flex: 0 1 50%;
}
.swiper-choose {
    width: 833px;

    overflow: hidden;

    margin: 0 0px 32px auto;
    transform: translate(135px , 0px);
}
.swiper-choose__block {
    background-color: #89D4A7;
    border-radius: 16px;
    width: 400px;
    height: 494px;

    padding: 41px 0px 0px 30px;
// ==========================
    margin-top: 0px;
// ==========================
}
.swiper-choose__block-icon{
    margin: 0 0 0 41px;
    height: 240px;
    width: 260px;
}
.swiper-choose__title-min {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;

    color: #FFFFFF;

    opacity: 0.5;

    margin: 44px 0px 0px 0px;
}
.swiper-choose__title {
    font-family: 'Effra';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    color: #FFFFFF;

    margin: 13px 0px 0px 0px;
}
.swiper-choose__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163.42%;

    color: #FFFFFF;

    margin: 18px 0px 0px 0px;

    opacity: 0.7;
}
.swiper-choose__block-2{
    background-color: #9C91E0;
}
.lending-choose__right-inform{
    flex: 0 1 50%;
    height: 825px;

    background-color: #E99478;

    padding: 234px 0px 0px 254px;
}
.lending-choose__right-block {
    width: 444px;
    h2{
        font-family: 'Effra';
        font-style: normal;
        font-weight: 500;
        font-size: 56px;
        line-height: 68px;

        color: #FFFFFF;

        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    p{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 163.42%;

        color: #FFFFFF; 
        opacity: 0.7;

        margin: 30px 0px 34px 0px;
    }
    a{
        font-family: 'Effra';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;

        color: #FFFFFF;

        background-image: url('../img/Lending/arrow-to-shop-white.svg');
        background-repeat: no-repeat;
        background-position: right 0 top 6px;

        padding: 0 18px 0 0;
        margin: 0 0 0 5px;
    }
}

@media (max-width: 1550px){
    .lending-choose__right-inform{
        padding-left: clamp(10.938rem, -93.455rem + 112.86vw, 15.875rem);
    }
}
@media (max-width: 1460px){
    .lending-choose__container{
        flex-direction: column;
        margin-top: clamp(0.063rem, -1.644rem + 7.28vw, 5rem);
    }
    .lending-choose__swiper{
        flex: 0 1 100%;

        order: 2;

        transform: translate(0,-65px);
    }
    .lending-choose__right-inform{
        flex: 0 1 auto;
        width: 100%;
        height: clamp(23.125rem, 13.296rem + 41.94vw, 51.563rem);

        padding-top: clamp(3.125rem, -0.85rem + 16.96vw, 14.625rem);
        padding-left: 15%;

        order: 1;
    }
    .swiper-choose{
        margin: 0px 0px 0px 0px;
        transform: translate(0px,0);
    }
}
@media (max-width: 890px){
    .swiper-choose__block{
        width: 100%;
        height: clamp(22rem, 15.538rem + 27.57vw, 30.875rem);

        padding-top: clamp(1.25rem, -2.205rem + 8.57vw, 2.563rem);
    }
    .lending-choose__container{
        width: 645px;
    }
    .swiper-choose{
        width: 100%;
    }
    .lending-choose__right-inform{
        width: 100vw;
    }
    .lending-choose__swiper{
        width: 100%;
        padding: 0 15px;
    }
    .lending-choose__right-block h2{
        font-size: clamp(1.5rem, 0.044rem + 6.21vw, 3.5rem);
    }
    .lending-choose__right-block{
        width: 100%;
        padding-right: 15px;
    }
    .swiper-choose__title-min{
        margin-top: clamp(1.25rem, -2.699rem + 9.8vw, 2.75rem);
    }
    .swiper-choose__block-icon{
        margin: 0 0 0 142px;
    }
}
@media (max-width: 645px){
    .lending-choose__container{
        width: 375px;
    }
    .lending-choose__right-inform{
        padding: 59px 0px 0px 0px;
        text-align: center;
    }
    .lending-choose__right-block{
        padding: 0px 0px 0px 0px;
    }
    .lending-choose__right-block h2{
        line-height: 29px;
    }
    .lending-choose__right-block p{
        font-size: 14px;
        line-height: 163.42%;
        margin: 15px 0 0 0;
        padding: 0 20px 20px;

        br{
            display: none;
        }
    }
    .lending-choose__right-block a{
        font-size: 14px;
        line-height: 17px;
        background-size: 6%;
        background-position: right 5px top 4px;
        padding: 0 18px 0 0;
        margin: 0 0 0 2px;
    }
    .lending-choose__swiper {
        flex: 0 1 100%;
        order: 2;
        transform: translate(5px,-121px);
        padding: 0 0 0 15px;
    }
    .swiper-choose__block-icon{
        width: 202px;
        height: 183px;

        margin: 0 0 0 47px;
    }
    .swiper-choose__block{
        padding: 14px 0px 0px 20px;
        width: 335px;
    }
    .swiper-choose__title-min{
        font-size: 12px;
        line-height: 16px;
        margin-top: 21px;
    }
    .swiper-choose__title{
        font-size: 18px;
        line-height: 22px;
        margin-top: 10px;
    }
    .swiper-choose__text{
        font-size: 14px;
        line-height: 19px; 
        margin-top: 15px;
    }
}
@media (max-width: 374px){
    .lending-choose__container{
        width: 320px;
    }
    .lending-choose__right-block p{
        padding-bottom: 20px;
    }
    .lending-choose__swiper {
        transform: translate(5px,-98px);
    }
    .swiper-choose__block{
        height: 367px;
        width: 280px;
    }
    .swiper-choose__text{
        br{display: none;}
    }
    .swiper-choose__block-icon {
        margin: 0 0 0 19px;
    }
}

// happy======================

.lending-happy__container {
    display: flex;
    justify-content: space-between;

    position: relative;


}
.lending-happy__left {
    margin: 50px 0px 0px 0px;
    img{
        display: block;
    }
    h4{
        font-family: 'Effra';
        font-style: normal;
        font-weight: 500;
        font-size: 56px;
        line-height: 68px;

        color: #000000;

        margin: 40px 0px 0px 1px;
    }
    p{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 163.42%;

        color: #808080;

        margin: 30px 0 0 1px;
    }
}
.lending-happy__right {
    position: absolute;
    left: 67.8%;
    top: -107px;

    img{
        width: 444px;
        height: 416px;
    }
}

@media (max-width: 1460px){
    .lending-happy__container{
        width: 1140px;
    }
    .lending-happy__right img {
        width: 386px;
        height: 364px;
    }
    .lending-happy__right {
        top: -81px;
        left: 61.8%;
    }
}
@media (max-width: 1140px){
    .lending-happy__container{
        width: 912px;

        align-items: center;
        justify-content: center;
    }
    .lending-happy__right{
        display: none;
    }
    .lending-happy__left{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        margin-top: 25px;
    }
}
@media (max-width: 890px){
    .lending-happy__container{
        width: 645px;
    }
    .lending-happy__left{
        h4{
            font-size: clamp(1.25rem, -0.013rem + 6.32vw, 3.5rem);
            line-height: clamp(1.5rem, -0.044rem + 7.72vw, 4.25rem);
        }
        p{
            font-size: clamp(0.875rem, 0.664rem + 1.05vw, 1.25rem);
        }
    }
}
@media (max-width: 645px){
    .lending-happy__container{
        width: 375px;
    }
    .lending-happy__left{
        margin-top: -61px;
        margin-bottom: 29px;
        img{
            width: 50px;
            height: 56.82px;
            margin-left: -1px;
        }
        h4{
            font-size: 20px;
            line-height: 24px;

            margin-top: 30px;
        }
        p{
            br{display: none;} 

            font-size: 14px;

            padding: 0 5px;
            margin: 16px 0px 0px 0px;
        }
    }
}
@media (max-width: 374px){
    .lending-happy__container{
        width: 320px;
    }
    .lending-happy__left{
        margin-top: -38px;
        margin-bottom: 30px;
    }

}

// Started ============================

.lending-started__container {
    position: relative;

    margin-bottom: 101px;
    &::after{
        content: "";
        position: absolute;
        top: 191px;
        left: -64px;
        background-image: url('../img/Lending/line-header3.svg');
        background-repeat: no-repeat;
        width: 142px;
        height: 280px;
    }
    &::before{
        content: "";
        position: absolute;
        top: 6px;
        right: -257px;
        background-image: url('../img/Lending/lending-listeners-1.svg');
        background-repeat: no-repeat;
        width: 142px;
        height: 280px;

        transform: rotate(-90deg);
    }
}
.lending-started__block {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 100px;
    h2{
        font-family: 'Effra';
        font-style: normal;
        font-weight: 500;
        font-size: 56px;
        line-height: 68px;

        margin-top: 49px;
        padding: 0 2px 0 0;
    }
    p{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 163.42%;
        text-align: center;

        color: #808080;

        margin-top: 38px;
        padding: 0 230px 0 228px;
    }
}
.lending-started__button {
    display: flex;
    flex-direction: column;

    margin: 48px 0px 0px 0px;
    gap: 32px;
    a{
        &:nth-child(1){
            margin: 0px 0px 0px 0px;
        }
    }
}
@media (max-width: 1460px){
    .lending-started__container{
        width: 1140px;
    }
}
@media (max-width: 1140px){
    .lending-started__container{
        width: 912px;
    }
    .lending-started__container::before{
        right: -80px;
    }
}
@media (max-width: 911px){
    .lending-started__container{
        width: 646px;
    }
    .lending-started__block p{
        padding: 0px 20px 0px;
    }
    .lending-started__block h2{
        font-size: 50px;
    }
    .lending-started__block p{
        font-size: 16px;
    }
    .lending-started__button{
        gap: 20px;
        a{
            &:nth-child(1){
                width: 200px;
                height: 60px;
            }
        }
    }
}
@media (max-width: 645px){
    .lending-started__container{
        width: 375px;

        margin-bottom: 64px;
    }
    .lending-started__block{
        margin-top: 61px;
        img{
            height: 46.009918212890625px;
            width: 49.844852447509766px;

            margin-right: 17px;
        }
        h2{
            font-size: 24px;
            line-height: 29px;

            margin-top: 30px;
            padding: 0 0px 0 0;
        }
        p{
            font-size: 14px;

            margin-top: 14px;
            padding: 0 5px;
        }
    }
    .lending-started__button{
        margin-top: 22px;
        gap: 20px;
        a{
            &:nth-child(1){
                width: 154px;
                height: 50px;

                font-size: 16px;
                line-height: 19px;
            }
            &:nth-child(2){
                font-size: 14px;
                line-height: 17px;
            }
        }
    }
    .lending-started__container::before{
        right: 0;
        left: 0;
        top: 45px;

        width: 76px;
        height: 76px;

        background-size: 97%;
        background-position: left 0 top -72px;
    }
    .lending-started__container::after{
        top: 297px;
        left: 395px;

        width: 70px;
        height: 280px;

        background-size: 100%;
        background-position: left 0 top 0;
        transform: rotate(-90deg);
    }
 
}
@media (max-width: 374px){
    .lending-started__container{
        width: 320px;
        margin-bottom: 46px;
    }
    .lending-started__block {
        margin-top: 60px;
        img{
            margin-right: 0;
        }
        p{
            margin-top: 14px;
        }
    }
    .lending-started__container::before {
        left: -8px;
        top: 44px;
    }
    .lending-started__container::after {
        top: 301px;
        left: 335px;
    }
    .lending-started__button {
        margin-top: 21px;
        gap: 20px;
    }
}