.lending{
    background-color: #fff;
}
.lending-vitamin__container{
    width: 100vw;
    padding: 0 0px 0px 15px;

    display: flex;
    position: relative;

    height: 960px;
    &::before{
        content: "";
        position: absolute;
        bottom: 38px;
        right: 42.3%;
        z-index: 2;

        background-image: url("../img/Lending/line-header2.svg");
        background-repeat: no-repeat;
        background-position: top 0 right 0;

        width: 280px;
        height: 140px;
    }
}
.lending-vitamin__text-contents {
    display: flex;
    flex-direction: column;

    flex: 0 1 50%;

    padding: 0 0 0 187px;

    position: relative;
    &::before{
        content: "";
        position: absolute;
        right: 198px;
        z-index: 2;

        background-image: url("../img/Lending/line-header1.svg");
        background-repeat: no-repeat;
        background-position: top 0 right 0;

        width: 180px;
        height: 165px;
    }
}
.lending-vitamin__text-title {
    font-family: 'Effra';
    font-weight: 500;
    font-size: 56px;
    line-height: 68px;

    margin: 260px 0px 0px 0px;
    span{
        color: rgba(237, 129, 94, 1);
    }
}
.lending-vitamin__text-text {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 163.42%;

    color: #808080;

    margin: 35px 0px 0px 0px;
}
.lending-vitamin__button {
    margin: 51px 0px 0px 0px;
    display: flex;
    align-items: center;
}
.lending-vitamin__button-left {
    background: #6E5DDC;
    border-radius: 200px;
    width: 260px;
    height: 74px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 163.42%;
    color: #FFFFFF;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0px 33px 0px 0px;
    padding: 0px 0px 3px 0px;
}
.lending-vitamin__button-right {
    font-family: 'Effra';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #F27E58;

    background-image: url('../img/Lending/arrow-to-shop.svg');
    background-repeat: no-repeat;
    background-position: right 2px top 6px;

    padding: 0px 20px 0px 0px;
    margin: 0px 0px 0px 0px;
}
.lending-vitamin__icon-contents {
    flex: 0 1 50%;

    overflow: hidden;
    background-color: #F9F9F9;

    position: relative;
    &::before{
        content: "";
        background-color: #6E5DDC;
        border-radius: 100%;
        width: 523px;
        height: 523px;

        position: absolute;
        top: 218px;
        left: 181px;
        z-index: 0;
    }
    &::after{
        content: "";
        background-color: #FFCA78;
        border-radius: 100%;
        width: 95px;
        height: 95px;

        position: absolute;
        top: 171px;
        right: 74px;
        z-index: 0;
    }
}
.lending-vitamin__block {
    img{
        object-position: left -195px top 135px;

        position: relative;
        z-index: 1;
    }
    }

@media (max-width: 1460px){
    .lending-vitamin__container{
        width: 1190px;
        height: 100%;

        flex-direction: column;

        padding: 0 15px;
    }
    .lending-vitamin__text-title{
        margin-top: clamp(6.875rem, 4.243rem + 13.16vw, 16.25rem);
    }
    .lending-vitamin__text-contents{
        flex: 0 1 100%;
        padding: 0px 0px 0px 0px;

        text-align: center;
        align-items: center;
    }
    .lending-vitamin__icon-contents{
        flex: 0 1 100%;
        
        background-color: #fff;
    }
    .lending-vitamin__text-contents::before{
        bottom: 0;
        right: 0;
        transform: rotate(180deg);
    }
    .lending-vitamin__icon-contents::after{
        display: none;
    }
    .lending-vitamin__icon-contents::before{
        top: 60px;
        left: 340px;
    }
    .lending-vitamin__icon-contents img{
        object-position: left -65px top 0px;
    }   
    .lending-vitamin__container::before{
        top: 50%;
        bottom: 0;
        right: 0;
        left: -130px;
    }
}
@media (max-width: 1140px){
    .lending-vitamin__container{
        width: 912px;
    }
    .lending-vitamin__icon-contents img{
        object-position: left -170px top 0;
    }
    .lending-vitamin__icon-contents::before{
        left: 225px;
    }
}
@media (max-width: 890px){
    .lending-vitamin__container{
        width: 645px;
    }
    .lending-vitamin__button{
        flex-direction: column;
        gap: 20px;
    }
    .lending-vitamin__icon-contents img {
        object-position: left 0 top -25px;
        inline-size: 100%;
    }
    .lending-vitamin__icon-contents::before{
        display: none;
    }
}
@media (max-width: 645px){
    .lending-vitamin__container{
        width: 375px;
    }
    .lending-vitamin__text-title{
        font-size: 24px;
        line-height: 29px;

        margin-top: 110px;
        br{
            display: none;
        }
    }
    .lending-vitamin__text-text{
        font-size: 14px;
        line-height: 163.42%;

        margin-top: 15px;
    }
    .lending-vitamin__text-contents::before{
        width: 75px;
        height: 90px;

        background-size: 100%;

        bottom: 1px;
        right: -17px;
    }
    .lending-vitamin__button{
        margin-top: 20px;
    }
    .lending-vitamin__button-left{
        width: 154px;
        height: 50px;

        font-size: 16px;
        line-height: 19px;

        margin: 0px 0px 0px 0px;
    }
    .lending-vitamin__button-right{
        font-size: 14px;
        line-height: 17px;

        margin: 0 0 0 2px;

        background-position: right 7px top 5px;
        background-size: 5.3%;
    }
    .lending-vitamin__icon-contents img {
        display: none;
    }
    .lending-vitamin__block{
        background-image: url('../img/Lending/lending-vitamins2.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-position: top 11px left -17px;
        background-size: 110%;

        height: 341px;
    }
    .lending-vitamin__container::before{
        background-size: 100%;

        top: 56.3%;
        bottom: 0;
        right: 0;
        left: -64px;
        width: 138px;
        height: 84px;
    }
}
@media (max-width: 374px){
    .lending-vitamin__container{
        width: 320px;
    }
    .lending-vitamin__text-title{
        margin-left: 5px;
        br{
            display: block;
        }
    }
    .lending-vitamin__text-text{
        br{
            display: none;
        } 
    }
    .lending-vitamin__button {
        margin-top: 21px;
    }
    .lending-vitamin__text-contents::before {
        bottom: 30px;
        right: -27px;
    }
    .lending-vitamin__container::before {
        top: 61.9%;
        left: -68px;
    }
    .lending-vitamin__block {
        background-position: top 12px left -16px;
        background-size: 111%;

        height: 295px;
    }
}

.lending-healthy__container {
    width: 100vw;
    height: 960px;
    display: flex;

    padding: 0px 0px 0px 0px;
}
.lending-healthy__content-left {
    background-image: url('../img/Lending/lending-healthy.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 50%;

    margin: 0px 0px 0px 0px;
    padding: 0 0 44px 43px;

    position: relative;
    &::before{
        content: "";
        position: absolute;
        top: 65px;
        left: 126px;
        background-color: #FFCA78;
        border-radius: 100%;

        width: 139px;
        height: 139px;

    }
    h2{
        font-family: 'Effra';
        font-style: normal;
        font-weight: 500;
        font-size: 56px;
        line-height: 68px;
        
        color: #FFFFFF;  
    }
}
.lending-healthy__content-right {
    flex: 0 1 50%;

    padding: 109px 0 0 61px;
}
.lending-healthy__block {
    display: flex;
    gap: 90px;

    margin: 108px 0px 0px 0px;
    p{
        font-family: 'Effra';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 36px;
        padding-top: 6px;
    }
}
.lending-healthy__block-2{
    margin: 108px 0 0 7px;
    gap: 97px;
    p{
        padding: 13px 0px 0 0px;
    }
}
.lending-healthy__block-3{
    margin: 100px 0 0 9px;
    gap: 98px;
    p{
        padding: 19px 0px 0 0px;
    }
}
@media (max-width: 1460px){
    .lending-healthy__container{
        height: 100%;

        flex-direction: column;
    }
    .lending-healthy__content-left{
        background-size: cover;

        flex: 0 1 100%;

        padding: 15px 0px 15px 0px;
    }
    .lending-healthy__content-left::before{
        left: 85%;
        top: -25%;
    }
    .lending-healthy__content-right{
        flex: 0 1 100%;

        padding: 0px 0px 0px 0px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .lending-healthy__content-left h2{
        text-align: center;
    }
    .lending-healthy__block{
        margin-top: clamp(2.875rem, 2.037rem + 4.19vw, 6.75rem);
    }
}
@media (max-width: 890px){
    .lending-healthy__content-left h2{
        font-size: clamp(1.5rem, 0.377rem + 5.61vw, 3.5rem);
        line-height: clamp(1.813rem, 0.444rem + 6.84vw, 4.25rem);
    }
    .lending-healthy__block p{
        font-size: clamp(0.875rem, 0.314rem + 2.81vw, 1.875rem);
        line-height: clamp(1rem, 0.298rem + 3.51vw, 2.25rem);
    }
    .lending-healthy__block{
        gap: clamp(1.563rem, -0.718rem + 11.4vw, 5.625rem);
    }
    .lending-healthy__content-left::before{
        width: clamp(3.75rem, 0.978rem + 13.86vw, 8.688rem);
        height: clamp(3.75rem, 0.978rem + 13.86vw, 8.688rem);
    }
}
@media (max-width: 375px){
    .lending-healthy__content-left{
        height: 198px;

        padding: 0px 0px 0px 0px;

        flex: 1 1 auto;
        h2{
            font-size: 24px;
            line-height: 29px;
            padding: 0px 47px 0px 47px;
            br{
                display: none;
            }
        }
    }
    .lending-healthy__content-left::before {
        left: 79.8%;
        top: -15%;
        width: 60px;
        height: 60px;
    }
    .lending-healthy__content-right{
        padding: 0px 20px 0px 20px;

        align-items: flex-start;
    }
    .lending-healthy__block{
        margin-top: 40px;
        gap: 25.6px;
        img{
            height: 38px;
            width: 50px;
        }
        p{
            padding-top: 3px;

            font-size: 14px;
            line-height: 16.9px;
            br{
                display: none;
            }
        }
    }
    .lending-healthy__block-2{
        margin-top: 41px;
        margin-left: 4px;
        gap: 28.8px;
        img{
            height: 43px;
            width: 45px;
        }
        p{
            padding-top: 5px;
        }
    }
    .lending-healthy__block-3{
        margin-top: 40.31px;
        margin-bottom: 40px;
        margin-left: 4px;
        gap: 30.3px;
        img{
            height: 48px;
            width: 44px;
        }
        p{
            padding-top: 8.2px;
        }
    }
}