.profile__content {
    margin: 152px auto 101px;
    width: 1396px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 7px;
}

.profile__left {
}
.profile__right {
}
.subscriptions {
}

.profile__left {
}
.profile__list {
    font-family: "Effra";
    font-style: normal;
    font-size: em(22);
    line-height: 320%;
    color: #000000;
    display: grid;
}
.profile__title {
    font-weight: 700;
}

.profile__item {
    transition: 0.7s;
    a {
        transition: 0.3s;
        color: inherit;
    }
    a:visited {
        color: inherit;
    }
    &:last-of-type {
        color: #d32d2c;
    }
    a:hover {
        cursor: pointer;
    }
}

.profile__main {
    display: inline-block;
    width: 100%;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        opacity: 0.07;
        border: 1px solid #000000;
        left: 0;
        top: 109px;
    }
}

.subscriptions__title {
    font-family: "Effra";
    font-style: normal;
    font-weight: 500;
    font-size: em(36);
    line-height: lh(43, 36);
    color: #000000;
    margin-top: 8px;
    margin-bottom: 40px;
}

.subscriptions__card-wr {
    width: 100%;
    height: 230px;
    background: #faf8f6;
    border-radius: 16px;
    padding: 30px 40px 0 40px;
    margin-top: 20px;
}
.subscriptions__card-content {
    display: grid;
    grid-template-columns: 1fr 10fr;
}
.subscriptions__card-left-wr {
    width: 100%;
    height: 170px;
    background: #94d6be;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subscriptions__card-right-wr {
    width: 100%;
    height: 170px;
    padding-left: 31px;
    padding-top: 11px;
}
.subscriptions__card-subtitle {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}
.subscriptions__card-center-wr {
    justify-content: space-between;
    display: flex;
    margin-top: 6px;
    padding-left: -5px;
    /* letter-spacing: 0.0000em; */
}
.subscriptions__card-name {
    font-family: "Effra";
    font-style: normal;
    font-weight: 400;
    font-size: em(20);
    line-height: lh(24, 20);
    color: #000000;
}
.subscriptions__card-price {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: em(18);
    line-height: lh(25, 18);
    color: #000000;
    transform: translate(-3px);
}
.subscriptions__card-hor-line {
    width: 100%;
    margin-top: 25px;
    opacity: 0.07;
    border: 1px solid #000000;
}

.subscriptions__card-bottom-wr {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 23px;
}
.subscriptions__card-bottom-text-wr {
    width: 100%;
    margin-top: 2px;
}
.subscriptions__card-bottom-toptext {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: em(14);
    line-height: lh(19, 14);

    color: #000000;

    opacity: 0.5;
}
.subscriptions__card-bottom-bottomtext {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: lh(22, 16);
    margin-top: 4px;

    color: #000000;
}
.subscriptions__card-btn {
    width: 164px;
    height: 50px;
    border: 2px solid #d32d2c;
    border-radius: 100px;
    font-family: "Effra";
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    line-height: lh(19, 16);
    text-align: center;
    color: #d32d2c;
    justify-self: end;
    background: transparent;
    transition: 0.3s;

    &:hover {
        background-color: black;
        color: white;
        border-color: white;
    }
}

.subscriptions__card-left-wr_2 {
    background: #da91e0;
}

.subscriptions__card-left-wr_3 {
    background: #9c91e0;
}
.profile__item.active {
    opacity: 0;
    position: absolute;
    top: -10000px;
}

.subscriptions__card-wr.active {
    animation: opacity-close 0.3s;
    opacity: 0;
    position: absolute;
    pointer-events: none;
    transition: 0.6s;
    left: -100%;
}

.tabs-block:target {
    display: block;
}

.tabs-block {
    display: none;
}

.tabs-block_chosen {
    display: block;
}

.orders {
}

.orders__content {
    margin: 42px auto -21px;
    width: 1039px;
}
.orders__block-wr {
    background: #faf8f6;
    width: 100%;
    padding: 40px;
    border-radius: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 38px;
    margin-bottom: 17px;
}
.orders__block-top-text-wr {
    grid-column: 1/3;
}
.orders__top-text-wr {
    display: flex;
    justify-content: space-between;
}
.orders__top-text {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: em(18);
    line-height: lh(25, 18);
    color: #000000;
    opacity: 0.5;
}
.orders__top-text_left {
    font-weight: 400;
    color: #000000;
    opacity: 0.5;
}
.orders__top-text_right {
    color: #000000;
    font-weight: 400;
}
.orders__bottom-text {
    font-family: "Effra";
    font-style: normal;
    font-weight: 500;
    font-size: em(22);
    line-height: lh(27, 22);
    color: #000000;
    margin-top: 8px;
}

.order__card-wr {
    padding: 0;
    margin-top: 38px;
    width: 455px;
    height: 176px;
    .subscriptions__card-right-wr {
        padding-left: 29px;
    }

    .subscriptions__card-center-wr {
        flex-direction: column;
    }
    .subscriptions__card-price {
        margin-top: 50px;
        margin-left: 3px;
    }
}
.order__card-wr-3 {
    margin-top: 25px;
}
.orders__hor-line {
    margin-top: 43px;
    grid-column: 1/3;
    width: 100%;
    opacity: 0.07;
    border: 1px solid #000000;
}

.orders__bottom-block-wr {
    grid-column: 1/3;
    margin-top: 37px;
    display: flex;
    justify-content: space-between;
}
.orders__bottom-block_left-wr {
    width: 294px;
}
.orders__bottom-amount {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    opacity: 0.5;
    margin-bottom: 4px;
}
.orders__bottom-sum {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    /* identical to box height */

    color: #000000;
}
.orders__bottom_btn {
    width: 154px;
    height: 50px;
    background: #ff7d4e;
    border-radius: 50px;
    font-family: "Effra";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;

    color: #ffffff;
    transition: 0.3s;
    &:hover {
        background-color: black;
    }
}

.order-collapse {
    opacity: 0;
    animation: opacity-close 0.3s;
    position: absolute;
    visibility: hidden;
    pointer-events: none;
    // top: 0;
    left: -100%;
}
.orders__bottom-text.order-rotate-arrow::after {
    content: url(../img/profile/Back_arrow.svg);
    background: no-repeat;
    position: absolute;
    right: 4px;
    top: -4px;
    width: 15px;
    height: 15px;
    pointer-events: all;
    cursor: pointer;
    transform: rotate(180deg);
    transition: 0.3s;
}

@media screen and (max-width: 1439px) {
    .profile__content {
        display: grid;
        grid-template-columns: 1fr;
        width: 912px;
    }
    .profile__list {
        width: 184px;
    }
    .profile__title {
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;

        &::after {
            transition: 0.3s;
            position: absolute;
            content: "";
            width: 15px;
            right: 0;
            background-image: url(../img/profile/Back_arrow.svg);
            height: 10px;
            background-repeat: no-repeat;
        }
    }
    .profile__title.active1 {
        &:after {
            transition: 0.3s;
            position: absolute;
            content: "";
            width: 15px;
            right: 0;
            background-image: url(../img/profile/Back_arrow.svg);
            height: 10px;
            background-repeat: no-repeat;
            transform: rotate(180deg);
            transition: 0.3s;
        }
    }
    .orders {
        width: 912px;
    }

    .orders__content {
        width: 100%;
    }

    .order__card-wr {
        width: 100%;
    }
    .profile__list {
        font-weight: 400;
    }
}

@media screen and (max-width: 1023px) {
    .profile__content {
        width: 760px;
    }

    .profile__left {
        text-align: center;
    }

    .profile__list {
        text-align: center;
        margin: 0 auto;
    }
    .orders {
        width: 760px;
    }
    .profile__list {
        font-weight: 400;
    }
}

@media screen and (max-width: 767px) {
    .profile__main::after {
        content: "";
        display: none;
    }
    .profile__content {
        width: 100%;
        width: 335px;
        margin-top: 120px;
    }

    .profile__list {
        width: 100%;
        font-family: "Effra";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        /* identical to box height */
        color: #000000;
    }

    .profile__item {
        text-align: left;
        margin-top: 10px;
    }

    .profile__title {
        margin-top: 0;
    }
    .subscriptions__title {
        display: none;
    }

    .subscriptions__card-wr {
        padding: 24px 20px 0;
    }

    .subscriptions__card-content {
        grid-template-columns: 1fr;
    }

    .subscriptions__card-left-wr {
        height: 132px;
    }
    .subscriptions__title {
        display: none;
    }
    .subscriptions__card-wr {
        padding: 24px 20px 0;
        height: 402px;
    }
    .subscriptions__card-content {
        grid-template-columns: 1fr;
    }

    .subscriptions__card-left-wr {
        height: 132px;
    }

    .subscriptions__card-right-wr {
        padding-left: 0px;
        padding-top: 19px;
    }

    .subscriptions__card-subtitle {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        /* identical to box height */

        /* Goods_Mint_Text */
        // color: #6bb0a4;
    }

    .subscriptions__card-name {
        font-family: "Effra";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        margin-top: -17px;
        width: 72%;
    }

    .subscriptions__card-price {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        /* identical to box height */
        color: #000000;
        transform: translate(-1px, -17px);
    }
    .subscriptions__card-hor-line {
        transform: translate(0, -8px);
    }
    .subscriptions__card-bottom-wr {
        grid-template-columns: 1fr;
    }
    .subscriptions__card-bottom-toptext {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        /* identical to box height */
        color: #000000;
        opacity: 0.5;
    }
    .subscriptions__card-bottom-bottomtext {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #000000;
    }

    .subscriptions__card-btn {
        display: block;
        width: 100%;
        margin-top: 20px;
    }
    .subscriptions__card-bottom-wr {
        margin-top: 11px;
    }
    .subscriptions__card-wr:not(:first-of-type) {
        margin-top: 15px;
    }
    .subscriptions__card-subtitle {
        margin-bottom: 23px;
    }
    .profile__content {
        margin-bottom: 63px;
    }
    .orders {
        width: 100%;
    }

    .orders__content {
        margin: 20px auto -21px;
    }

    .orders__block-wr {
        grid-template-columns: 1fr;
        padding: 0;
        padding: 28px 20px;

        * {
            transition: 0.3s;
        }
    }

    .orders__block-top-text-wr {
        grid-column: 1/2;
        cursor: pointer;
    }

    .orders__top-text-wr {
        width: 54%;
        margin-top: 4px;
    }

    .orders__top-text {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #000000;
        opacity: 0.5;
    }
    .orders__top-text {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #000000;
        opacity: 0.5;
    }

    .orders__bottom-text {
        font-family: "Effra";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        /* identical to box height */
        color: #000000;
    }

    .order__card-wr {
        padding: 0;
        height: 135px;

        .subscriptions__card-content {
            grid-template-columns: 34% 60%;
        }
        .subscriptions__card-left-wr {
            margin-top: 15px;
            width: 100px;
            height: 120px;
        }

        .subscriptions__card-right-wr {
            padding-left: 21px;
            padding-top: 32px;
        }

        .subscriptions__card-name {
            font-family: "Effra";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
            width: 100%;
            /* margin-top: -17px; */
            margin-left: -1px;
        }

        .subscriptions__card-price {
            font-family: "Open Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            text-align: left;
            color: #000000;
            margin-top: 27px;
            margin-left: 0px;
        }
    }
    .orders__hor-line {
        grid-column: 1/2;
    }

    .orders__bottom-block-wr {
        grid-column: 1/2;
    }

    .orders__bottom-block_left-wr {
        width: 33%;
    }

    .orders__bottom_btn {
        width: 50%;
    }
    .order__card-wr_1 {
        margin-top: 15px;
    }
    .order__card-wr_2 {
        margin-top: 2px !important;
    }
    .order__card-wr-3 {
        margin-top: 0px !important;

        .subscriptions__card-right-wr {
            padding-top: 23px;
        }
    }
    .orders__hor-line {
        margin-top: 36px;
    }
    .orders__bottom-amount {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;

        color: #000000;

        opacity: 0.5;
    }
    .orders__bottom-sum {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        /* identical to box height */

        color: #000000;
    }

    .orders__bottom_btn {
        width: 154px;
        height: 50px;
        font-family: "Effra";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #ffffff;
    }
    .orders__bottom-block-wr {
        margin-top: 29px;
    }
    .orders__bottom-block_left-wr {
        width: 35%;
    }
    .orders__top-text_right {
        position: relative;

        &::after {
            position: absolute;
            content: "•";
            left: -13px;
            font-family: "Open Sans";
            top: 0;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;

            color: #000000;

            opacity: 0.5;
        }
    }
    .orders__bottom-text {
        position: relative;
        &::after {
            content: url(../img/profile/Back_arrow.svg);
            background: no-repeat;
            position: absolute;
            right: 4px;
            top: -15px;
            width: 15px;
            height: 15px;
            pointer-events: all;
            cursor: pointer;
            transition: 0.3s;
        }
    }
    .orders__block-wr {
        margin-bottom: 12px;
    }

    .profile__list {
        display: grid;

        font-weight: 400;
    }
    .profile__list {
        display: none;
    }

    .subscriptions {
        position: relative;

        &::after {
            position: absolute;
            width: 100%;
            height: 10px;
            content: "Subscriptions";
            left: 0;
            top: -57px;
            font-family: "Effra";
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            pointer-events: all;
            line-height: 29px;
            /* identical to box height */

            color: #000000;
        }
    }
    .profile__content {
        margin-top: 150px;
    }
}

@media screen and (max-width: 374px) {
    .profile__content {
        width: 280px;
    }
    .subscriptions__card-wr:nth-of-type(2) {
        height: 421px;
    }
}

// Даниил А ==========================================================================
.profile-block__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.checkout-form__profile {
    margin-top: 0px;
    .checkout-form__blocks-top {
        margin-top: 1px;
        margin-left: 3px;
    }
}
.subscriptions__title-min {
    font-family: "Effra";
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;

    margin-right: 119px;
    padding-bottom: 22px;
}
.checkout-form__profile-btn {
    background-color: #c4bdb6;
    border-radius: 100px;

    width: 154px;
    height: 50px;

    font-family: "Effra";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 39px 0 0 3px;

    transition: all 0.3s;
    &:hover {
        background-color: #ff7d4e;
    }
}
.pop-up {
    position: fixed;
    top: -100%;
    left: clamp(1.25rem, -10.444rem + 49.89vw, 45.688rem);
    z-index: 4;

    background: #a2c94f;
    border-radius: 12px;
    color: #fff;

    width: 336px;
    height: 56px;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 15px;

    transition: all 0.3s;

    &.active {
        top: 27px;
    }
}
.footer-profile {
    background-color: #faf8f6;
}
@media (max-width: 767px) {
    .profile-block__title {
        display: none;
    }
}
@media (max-width: 375px) {
    .pop-up {
        width: 100%;
        height: 70px;

        left: 0;
        border-radius: 0;
        &.active {
            top: 0;
        }
    }
}
