.wrapper-quiz{
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
}
// ==============================
.indicator--hidden,
.btn-next--hidden,
.questions--hidden {
    display: block;
}
.indicator--visible {
    display: none;
}
// ===============================
.header-quiz {
    position: relative;
}
.header-quiz__container {
    width: 100vw;
    z-index: 3;

    padding: 0px 35px 0px;
    margin: 0px 0px 0px 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    top: 30px;
    left: 0;
}
.quiz-indicator {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    color: #000;
}
.quiz-main-page {
    position: relative;
    overflow: hidden;
}
.quiz-questions-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 100vw;
    height: 100vh;
}
.quiz-questions-item__question {
    flex: 0 1 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #8172DD;

    position: relative;
    z-index: 2;
    p{
        font-family: 'Effra';
        font-style: normal;
        font-weight: 500;
        font-size: 64px;
        line-height: 77px;
        color: #FFFFFF;
        padding: 0 21.5% 0 22.2%;
    }
}
// question page block ============================================
.quiz-questions-item__answers {
    flex: 0 1 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #FAF8F6;

    position: relative;
}

.question-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.question-3{
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
}
.question-8{
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 10px;
    &::before{
        content: "";
        height: 19%;
        flex: 0 1 100%;
    }
    &::after{
        content: "";
        height: 19%;
        flex: 0 1 100%;
    }
}
// question page block ============================================





// QUIZ LIST ========================================================
.quiz-list-1{
    position: relative;
    z-index: 2;
    p{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: #000000;
        opacity: 0.5;
    }
    .label{
        position: relative;
        .answer-input {
            width: 496px;
            height: 105px;
        
            background-color: #ffffff;
            border-radius: 16px;
        
            font-family: "Open Sans";
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
        
            display: block;
            resize: none;
        
            margin-top: 20px;
            padding-left: 40px;
            padding-top: 38px;
        }
        .btn__next-question {
            background-color: #FF7D4E;
            background-image: url('../img/Quiz/Back_arrow.svg');
            background-repeat: no-repeat;
            background-position: left 50% top 50%;
        
            width: 69px;
            height: 69px;
        
            border-radius: 50%;
        
            position: absolute;
            top: 17px;
            right: 18px;

            display: flex;
            align-items: center;
            justify-content: center;

            transition: all 0.3s;
            &:hover{
                background-color: #8172DD;
            }
        }
        .btn__next {
            background-color: transparent !important;
            width: 100% !important;
            height: 100% !important;

            top: 0 !important;
            left: 0 !important;
            bottom: 0 !important;
            right: 0 !important;

            border-radius: 16px !important;
            background-image: none !important;

            transition: all 0.3s !important;
            &:hover{
                border: 2px solid #8172DD !important;
                background-color: transparent !important;
            }
        }
    }
}
.quiz-list-2{
    margin: 0px 7.5px;
     .label{
        .answer-input{
            margin: 10px 0px 10px 0px;
        }
     } 
}
.quiz-list_3-three{
    
    .label{
        .answer-input{
            padding: 25px 0px 0px 40px;
        }
    }
}
.quiz-list-8{
    .label{
        .answer-input{
            width: 100%;
        }
     } 
}
.quiz-list__fore-8{
    .label{
        .answer-input{
            padding: 27px 10px 0px 40px;
        }
     } 
}
.quiz-list__five-8{
    .label{
        .answer-input{
            padding: 27px 10px 0px 40px;
        }
     } 
}
// QUIZ LIST ========================================================

.quiz-footer {
    position: relative;
}
.btn-restart {
    position: absolute;
    bottom: 30px;
    left: 36px;
    z-index: 4;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;

    color: #FFFFFF;

    background-color: transparent;
    background-image: url("../img/Lending/quiz-arrow.svg");
    background-repeat: no-repeat;
    background-position: left 0 top 4px;

    padding: 0px 0px 0px 24px;
}

// Icons++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// Icon 1111=======================================
.icon-questions-1{
    position: relative;
    img{
        &:nth-child(1){
            position: absolute;
            bottom: 260px;
            right: 240px;
        }
        &:nth-child(2){
            position: absolute;
            top: 50px;
            left: 43px;
        }
    }
}
.icon-questions-2{
    position: relative;
    img{
        &:nth-child(1){
            position: absolute;
            bottom: 180px;
            right: 180px;
        }
        &:nth-child(2){
            position: absolute;
            top: 200px;
            left: 280px;
        }
    }
}
.icon-questions-3{
    position: relative;
    img{
        &:nth-child(1){
            position: absolute;
            bottom: 40px;
            right: -320px;
        }
        &:nth-child(2){
            position: absolute;
            top: 250px;
            left: -320px;
        }
    }
}
.icon-questions-4{
    position: relative;
    img{
        &:nth-child(1){
            position: absolute;
            bottom: 500px;
            right: -320px;
        }
        &:nth-child(2){
            position: absolute;
            top: 250px;
            left: -300px;
        }
    }
}
.icon-questions-5{
    position: relative;
    img{
        &:nth-child(1){
            position: absolute;
            bottom: 13px;
            right: 163px;
        }
        &:nth-child(2) {
            position: absolute;
            top: 150px;
            left: 337px;
        }
    }
} 
.icon-questions-6{
    position: relative;
    img{
        &:nth-child(1){
            position: absolute;
            bottom: 40px;
            right: -320px;
        }
        &:nth-child(2){
            position: absolute;
            top: 258px;
            left: -370px;
        }
    }
} 
.icon-questions-7{
    position: relative;
    img{
        &:nth-child(1){
            position: absolute;
            bottom: 154px;
            right: -449px;
        }
        &:nth-child(2){
            position: absolute;
            top: 206px;
            left: -359px;
        }
    }
} 
// Icon 1111=======================================

// ===============================================

@media (max-width: 1440px){
    .quiz-questions-item__question {
        p{
            padding: 0px 16% 0px;

            font-size: clamp(1.5rem, 0.786rem + 3.57vw, 4rem);
            line-height: clamp(1.813rem, 0.955rem + 4.29vw, 4.813rem);
        }
    }
    .quiz-list-1{
        .label{
            .answer-input{
                width: clamp(17.5rem, 13.643rem + 19.29vw, 31rem);
                height: clamp(3.5rem, 2.625rem + 4.38vw, 6.563rem);
                padding-top: clamp(1.125rem, 0.768rem + 1.79vw, 2.375rem);
            }
            .btn__next-question{
                width: clamp(2rem, 1.339rem + 3.3vw, 4.313rem);
                height: clamp(2rem, 1.339rem + 3.3vw, 4.313rem);
                right: clamp(0.75rem, 0.643rem + 0.54vw, 1.125rem);
                top: clamp(0.75rem, 0.661rem + 0.45vw, 1.063rem);
            }
        }
    } 

    //  33333333333333333333333333333333333333333333333333333333
    .quiz-list-3{
        .label{
            .answer-input{
                height: 105px;
            }
        }
    }
    .quiz-list_3-three{
        .label{
            .answer-input{
                padding: 20px 0px 0px 40px;
            }
        }
    }
}
@media (max-width: 768px){
    .btn-restart{
        width: 100%;
        background-color: #FAF8F6;
        bottom: 0;
        left: 0;
        padding-bottom: 30px;
        padding-left: 60px;
        background-position: left 24px top 4px;
    }

    .quiz-questions-item{
        flex-direction: column;
    }
    .quiz-questions-item__question{
        justify-content: flex-end;
        background-color: #FAF8F6;
        text-align: center;
        p{
            color: #000;
            padding: 0px 0px 30px 0px;
        }
    }
    .quiz-questions-item__answers{
        justify-content: flex-start;
    }
    .quiz-list-1 {
        p{
            display: none;
        }
        .label{
            .answer-input{
                margin-top: 0;
            }
            .btn__next-question{
                background-color: #DDDDDD;
            }
        }
    }
    .quiz-indicator{
        color: #000000;
        font-size: clamp(1.25rem, 1.071rem + 0.89vw, 1.875rem);
        line-height: clamp(1.688rem, 1.438rem + 1.25vw, 2.563rem);
    }
    .btn-restart{
        color: #000;
        background-image: url('../img/Quiz/arrow.svg');
    }

    // 22222222222222222222222222222222222222222222222222222
    .question-2 {
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }
    .quiz-list-2{
        .label{
           .answer-input{
               margin: 0px 0px 0px 0px;
               padding: 42px 0px 0px 0px;
   
               text-align: center;
               width: 100%;
               height: 105px;
           }
        } 
   }
    // 33333333333333333333333333333333333333333333333333333
   .question-3{
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
    gap: 5px;
    padding-bottom: 60px;
    }
    .quiz-list-3{
        .label{
            .answer-input{
                text-align: center;
                font-size: 16px;
                line-height: 22px;

                padding: 39px 0px 0px 0px;

                height: 104px;
            }
        } 
    } 
    .quiz-list_3-three{
        .label{
            .answer-input{
                padding: 22px 0px 0px 0px;
            }
        }
    }
    .quiz-list_3-four{
        .label{
            .answer-input{
                padding: 27px 0px 0px 0px;
            }
        }
    }
    .icon-questions-3{
        img:nth-child(2) {
            position: absolute;
            top: 104px;
            left: -320px;
        }
    } 
    // 4444444444444444444444444444444444444444444444444444444444444

    .question-4{
        gap: 7px;
    }
    .quiz-list-4{
        .label{
            .answer-input{
                height: 60px;
                padding-top: 20px;
            }
        } 
    }
    // 6666666666666666666666666666666666666666666666666666666666666666
    .icon-questions-6 img:nth-child(2) {
        position: absolute;
        top: 115px;
        left: -370px;
    }
    // 888888888888888888888888888888888888888888888888888888888888888
    .question-8{
        justify-content: center;
        &::before {
            content: "";
            height: 0%;
            flex: 0 1 100%;
        }
        &::after {
            content: "";
            height: 5%;
            flex: 0 1 100%;
        }
    }
    .quiz-list-8{
         .label{
            .answer-input{
                width: 100% !important;
                height: 105px;
            }
         }
    }  
    .quiz-list__fore-8{
        .label{
            .answer-input{
                padding: 27px 0px 0px 40px;
            }
         } 
    }
    .quiz-list__five-8{
        .label{
            .answer-input{
                padding: 27px 0px 0px 40px;
            }
         } 
    }
}
@media (max-width: 375px){
    .quiz-questions-item__question {
        p{
            font-size: 24px;
            line-height: 29px;
        }
    }
    .quiz-list-1{
        .label{
            .answer-input{
                width: clamp(17.5rem, -2.503rem + 100.01vw, 20.938rem);
            }
        } 
    } 
    // 22222222222222222222222222222222222222222222222222222
    .question-2 {
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }
    .quiz-list-2{
        .label{
            .answer-input{
                margin: 0px 0px 0px 0px;
                padding: 42px 0px 0px 0px;
    
                text-align: center;
                width: 100%;
                height: 105px;
            }
        } 
    }
    // 8888888888888888888888888888888888888888888888888888888888
    .quiz-list-8{
        .label{
           .answer-input{
                width: 160px !important;
                height: 105px;
                padding: 30px 0px 0px 0px;
                text-align: center;
                font-size: 16px;
                line-height: 22px;
           }
        }
   }  
   .question-8 {
        gap: 5px;
    }
}

@media (max-width: 374px){
    .quiz-list-8{
        .label{
           .answer-input{
               width: 132px !important;
           }
        }
   }  
   .quiz-list__five-8 {
        .label {
            .answer-input{
                padding-top: 20px;
            }
        }
   }

 
}