.quiz-main-page {
    overflow: hidden;
}
.header-quiz {
    position: relative;
}
.header-quiz__container {
    width: 100vw;
    padding: 30px 35px 0px 35px;

    position: absolute;

    display: flex;

    justify-content: space-between;
    align-items: center;
}
.quiz-indicator {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    padding: 5px 0 0 0;
    position: relative;
    z-index: 2;
}
.quiz-main__container {
    width: 100vw;
    height: 100vh;
    padding: 0px 0px 0px 0px;
}
.quiz-questions-item {
    display: flex;
}
.quiz-questions-item__question {
    background-color: #8172dd;
    height: 100vh;
    flex: 0 1 50%;

    font-family: "Effra";
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 77px;

    color: #ffffff;

    display: flex;
    align-items: center;

    padding: 0 215px 2px 202px;
}
.quiz-questions-item__answers {
    background-color: #faf8f6;
    height: 100vh;
    flex: 0 1 50%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    position: relative;
    overflow: hidden;
    li {
        p {
            font-family: "Open Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            opacity: 0.5;
        }
        label {
            position: relative;
            input {
                width: 496px;
                height: 99px;

                background-color: #ffffff;
                border-radius: 16px;

                font-family: "Open Sans";
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 25px;

                display: flex;

                padding-left: 40px;
                padding-right: 100px;
                margin-top: 20px;
                margin-bottom: 16px;
            }
        }
    }
}
.btn-next {
    position: absolute;
    right: 18px;
    top: 17px;

    width: 69px;
    height: 65.71px;

    background-color: #ff7d4e;
    border-radius: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.quiz-footer {
    position: relative;
}
.btn-restart {
    position: absolute;
    bottom: 0;
    left: 0;

    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;

    color: #ffffff;
    background-color: transparent;
    background-image: url("../img/Lending/quiz-arrow.svg");
    background-repeat: no-repeat;
    background-position: left 0 top 4px;

    padding: 0px 0px 0px 24px;
    margin: 0 0 30px 35px;
}
.btn-new-next {
    background-color: transparent;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    right: 0px;
    top: 0px;
    &:hover {
        border: 2px solid #8172dd;
    }
}
.indicator--hidden,
.btn-next--hidden,
.questions--hidden {
    display: block;
}
.indicator--visible {
    display: none;
}

.list-quiz__one-1,
.list-quiz__two-1,
.list-quiz__two-2,
.list-quiz__three-1,
.list-quiz__three-2,
.list-quiz__three-3,
.list-quiz__three-4,
.list-quiz__four-1,
.list-quiz__four-2,
.list-quiz__four-3,
.list-quiz__five-1,
.list-quiz__five-2,
.list-quiz__five-3,
.list-quiz__six-1,
.list-quiz__six-2,
.list-quiz__six-3,
.list-quiz__eight-1,
.list-quiz__eight-2,
.list-quiz__eight-3,
.list-quiz__eight-4,
.list-quiz__eight-5,
.list-quiz__eight-6 {
    p {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        opacity: 0.5;
    }
    label {
        position: relative;
        textarea {
            width: 496px;
            height: 99px;

            background-color: #ffffff;
            border-radius: 16px;

            font-family: "Open Sans";
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;

            display: flex;

            padding-left: 40px;
            padding-right: 95px;
            padding-top: 38px;
            margin-top: 20px;
            margin-bottom: 16px;
            resize: none;
        }
    }
}
.list-quiz__eight-1,
.list-quiz__eight-2,
.list-quiz__eight-3,
.list-quiz__eight-4,
.list-quiz__eight-5,
.list-quiz__eight-6 {
    label {
        textarea {
            width: 330px;
        }
    }
}
.list-quiz__three-3 label textarea {
    padding-top: 28px;
}
.list-quiz__three-4 label textarea {
    padding-top: 43px;
}
// .list-quiz__one-1 {
//     margin-top: 345px;
// }
// .list-quiz__two-1 {
//     margin-top: 293px;
// }
.list-quiz__two-2 {
    margin-top: -10px;
}
// .list-quiz__three-1 {
//     margin-top: 165px;
// }
// .list-quiz__four-1 {
//     margin-top: 248px;
// }
// .list-quiz__five-1 {
//     margin-top: 248px;
// }
// .list-quiz__six-1 {
//     margin-top: 248px;
// }
.list-quiz__four-1 label textarea,
.list-quiz__four-2 label textarea,
.list-quiz__four-3 label textarea,
.list-quiz__five-1 label textarea,
.list-quiz__five-2 label textarea,
.list-quiz__five-3 label textarea,
.list-quiz__six-1 label textarea,
.list-quiz__six-2 label textarea,
.list-quiz__six-3 label textarea,
.list-quiz__eight-3 label textarea {
    margin: 0px 0px 26px 0px;
}
.icon-quiz-1 {
    position: absolute;
    img {
        &:nth-child(1) {
            position: relative;
            top: 116px;
            left: -121px;
        }
        &:nth-child(2) {
            position: relative;
            bottom: -543px;
            right: -27.6%;
        }
    }
}
.icon-quiz__two-1 {
    position: absolute;
    img {
        &:nth-child(1) {
            position: relative;
            top: 108px;
            left: -254px;
        }
        &:nth-child(2) {
            position: relative;
            bottom: -631px;
            right: -91.4%;
        }
    }
}
.icon-quiz__three-1 {
    position: absolute;
    img {
        &:nth-child(1) {
            position: relative;
            top: 106px;
            left: 346px;
        }
        &:nth-child(2) {
            position: relative;
            bottom: -586px;
            right: 90.7%;
        }
    }
}

.icon-quiz__four-1 {
    position: absolute;
    img {
        &:nth-child(1) {
            position: relative;
            top: 0;
            left: 320px;
        }
        &:nth-child(2) {
            position: relative;
            bottom: -566px;
            right: 93.6%;
        }
    }
}
.icon-quiz__five-1 {
    position: absolute;
    img {
        &:nth-child(1) {
            position: relative;
            top: 128px;
            left: -217px;
        }
        &:nth-child(2) {
            position: relative;
            bottom: -402px;
            right: -93%;
        }
    }
}
.icon-quiz__six-1 {
    position: absolute;
    img {
        &:nth-child(1) {
            position: relative;
            top: 161px;
            left: 341px;
        }
        &:nth-child(2) {
            position: relative;
            bottom: -626px;
            right: 125.3%;
        }
    }
}
.icon-quiz__seven-1 {
    position: absolute;
    img {
        &:nth-child(1) {
            position: relative;
            top: 103px;
            left: 403px;
        }
        &:nth-child(2) {
            position: relative;
            bottom: -655px;
            right: 121%;
        }
    }
}
.icon-quiz__eight-1 {
    position: absolute;
    img {
        &:nth-child(1) {
            position: relative;
            top: -195px;
            left: -249px;
        }
        &:nth-child(2) {
            position: relative;
            bottom: -310px;
            right: -71.3%;
        }
    }
}
.icon-quiz__two-2,
.icon-quiz__three-2,
.icon-quiz__three-3,
.icon-quiz__three-4,
.icon-quiz__four-2,
.icon-quiz__four-3,
.icon-quiz__five-2,
.icon-quiz__five-3,
.icon-quiz__six-2,
.icon-quiz__six-3,
.icon-quiz__eight-2,
.icon-quiz__eight-3,
.icon-quiz__eight-4,
.icon-quiz__eight-5,
.icon-quiz__eight-6 {
    display: none;
}
.list-quiz__three-2 {
    margin: -10px 0 0 0;
}
.list-quiz__three-3 {
    margin: -10px 0 0 0;
}
.list-quiz__three-4 {
    margin: -10px 0 0 0;
}
.answers-page-3,
.answers-page-4,
.answers-page-5,
.answers-page-6 {
    overflow-y: auto;
    overflow-x: hidden;
}
.answers-page-8 {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 105px;
    overflow-y: auto;
    overflow-x: hidden;
}
.list-quiz__eight-1,
.list-quiz__eight-2,
.list-quiz__eight-3,
.list-quiz__eight-4,
.list-quiz__eight-5,
.list-quiz__eight-6 {
    button {
        img {
            display: none;
        }
    }
}
.list-quiz__eight-1,
.list-quiz__eight-2 {
    margin-top: 237px;
    label {
        textarea {
            margin: 0px 0px 0px 0px;
            height: 105px;
            padding: 39px 30px 0 41px;
        }
    }
}
.list-quiz__eight-3,
.list-quiz__eight-4 {
    margin-top: 0px;
    transform: translateY(-104px);
    label {
        textarea {
            margin: 0px 0px 0px 0px;
            height: 105px;
            padding: 40px 30px 0 40px;
        }
    }
}
.list-quiz__eight-4 {
    label {
        textarea {
            padding: 29px 30px 0 39px;
        }
    }
}
.list-quiz__eight-5,
.list-quiz__eight-6 {
    margin-top: 0px;
    transform: translateY(-228px);
}
.list-quiz__eight-5 {
    label {
        textarea {
            padding: 27px 30px 0 41px;
        }
    }
}
.list-quiz__eight-6 {
    label {
        textarea {
            padding: 39px 30px 0 39px;
        }
    }
}
.question-page-9{
    padding: 0 198px 0px 202px;
}
@media (max-width: 1775px) {
    .icon-quiz-1 img:nth-child(1) {
        left: -50px;
    }
    .icon-quiz-1 img:nth-child(2) {
        right: -6%;
        bottom: -375px;
    }
    .icon-quiz__two-1 img:nth-child(1) {
        left: -180px;
    }
    .icon-quiz__two-1 img:nth-child(2) {
        bottom: -548px;
        right: -51.4%;
    }
    .quiz-questions-item__question {
        padding: 0 80px 0px 85px;
    }
    .icon-quiz__eight-1 {
        position: absolute;
        img {
            &:nth-child(1) {
                position: relative;
                top: -216px;
                left: -198px;
            }
            &:nth-child(2) {
                position: relative;
                bottom: -310px;
                right: -71.3%;
            }
        }
    }
}
@media (max-width: 1440px) {
    .icon-quiz-1 img:nth-child(2) {
        display: none;
    }
    .icon-quiz-1 img:nth-child(1) {
        display: none;
    }
    .list-quiz__one-1,
    .list-quiz__two-1,
    .list-quiz__two-2,
    .list-quiz__three-1,
    .list-quiz__three-2,
    .list-quiz__three-3,
    .list-quiz__three-4,
    .list-quiz__four-1,
    .list-quiz__four-2,
    .list-quiz__four-3,
    .list-quiz__five-1,
    .list-quiz__five-2,
    .list-quiz__five-3,
    .list-quiz__six-1,
    .list-quiz__six-2,
    .list-quiz__six-3 {
        label {
            textarea {
                width: 455px;
            }
        }
    }
    .list-quiz__three-3 label textarea {
        padding-right: 40px;
    }
    .list-quiz__three-4 label textarea {
        padding-top: 30px;
    }
    .icon-quiz__two-1 img:nth-child(1) {
        left: -131px;
    }
    .icon-quiz__two-1 img:nth-child(2) {
        bottom: -519px;
        right: -35.4%;
    }
    .icon-quiz__four-1 img:nth-child(1) {
        display: none;
    }
    .icon-quiz__four-1 img:nth-child(2) {
        display: none;
    }
    .icon-quiz__five-1 img:nth-child(1) {
        display: none;
    }
    .icon-quiz__five-1 img:nth-child(2) {
        display: none;
    }
    .icon-quiz__six-1 img:nth-child(1) {
        display: none;
    }
    .icon-quiz__six-1 img:nth-child(2) {
        display: none;
    }

    .answers-page-8 {
        justify-content: center;
        column-gap: 20px;
    }
    .list-quiz__eight-1,
    .list-quiz__eight-2 {
        margin-top: 194px;
        width: 240px;
        label {
            textarea {
                margin: 0px 0px 0px 0px;
                height: 105px;
                padding: 42px 30px 0 41px;
                width: 240px;
            }
        }
    }
    .list-quiz__eight-1 label textarea {
        padding: 30px 30px 0 41px;
    }
    .list-quiz__eight-3,
    .list-quiz__eight-4 {
        width: 240px;
        margin-top: 0px;
        transform: translateY(-82px);
        label {
            textarea {
                margin: 0px 0px 0px 0px;
                height: 105px;
                padding: 41px 30px 0 40px;
                width: 240px;
            }
        }
    }
    .list-quiz__eight-4 {
        label {
            textarea {
                padding: 29px 30px 0 39px;
            }
        }
    }
    .list-quiz__eight-5,
    .list-quiz__eight-6 {
        width: 240px;
        margin-top: 0px;
        transform: translateY(-185px);
        label {
            textarea {
                width: 240px;
            }
        }
    }
    .list-quiz__eight-5 {
        label {
            textarea {
                padding: 27px 30px 0 41px;
            }
        }
    }
    .list-quiz__eight-6 {
        label {
            textarea {
                padding: 39px 30px 0 39px;
            }
        }
    }
    .icon-quiz__eight-1 {
        position: absolute;
        display: none;
    }
}
@media (max-width: 1024px) {
    .list-quiz__one-1,
    .list-quiz__two-1,
    .list-quiz__two-2,
    .list-quiz__three-1,
    .list-quiz__three-2,
    .list-quiz__three-3,
    .list-quiz__three-4,
    .list-quiz__four-1,
    .list-quiz__four-2,
    .list-quiz__four-3,
    .list-quiz__five-1,
    .list-quiz__five-2,
    .list-quiz__five-3,
    .list-quiz__six-1,
    .list-quiz__six-2,
    .list-quiz__six-3 {
        label {
            textarea {
                width: 340px;
            }
        }
    }
    .quiz-questions-item__question {
        font-size: 53px;
        line-height: 68px;
    }
    .icon-quiz__two-1 {
        display: none;
    }
    .icon-quiz__two-1 img:nth-child(1) {
        display: none;
    }
    .icon-quiz__two-1 img:nth-child(2) {
        display: none;
    }
    .icon-quiz__three-1 img:nth-child(1) {
        display: none;
    }
    .icon-quiz__three-1 img:nth-child(2) {
        display: none;
    }
    .list-quiz__three-3 label textarea {
        padding-right: 15px;
        padding-top: 15px;
    }
    .icon-quiz__seven-1 img:nth-child(1) {
        display: none;
    }
    .icon-quiz__seven-1 img:nth-child(2) {
        display: none;
    }
    .btn-new-next {
        background-color: transparent;
        width: 100%;
        height: 100%;
        border-radius: 16px;
        right: 0;
        top: 0;
        img {
            display: none;
        }
    }

    .icon-quiz__eight-1 img:nth-child(1) {
        display: none;
    }
    .icon-quiz__eight-1 img:nth-child(2) {
        display: none;
    }
    .answers-page-8 {
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        gap: 20px;
        overflow-y: auto;
        padding: 300px 0 40px 0;
    }
    .list-quiz__eight-1,
    .list-quiz__eight-2 {
        margin-top: 0;
    }
    .list-quiz__eight-3,
    .list-quiz__eight-4 {
        margin-top: 0;
        transform: translateY(0px);
        label {
            textarea {
                margin: 0px 0px 0px 0px;
            }
        }
    }
    .list-quiz__eight-5,
    .list-quiz__eight-6 {
        margin-top: 0;
        transform: translateY(0px);
        label {
            textarea {
                margin: 0px 0px 0px 0px;
            }
        }
    }
    .list-quiz__eight-1 {
        margin-top: 20px;
    }
}
@media (max-width: 768px) {
    .quiz-questions-item {
        flex-direction: column;
        height: 100%;
    }
    .quiz-main__questions {
        height: 100%;
    }
    .btn-restart {
        color: #000;
        background-image: url("../img/Quiz/arrow.svg");
        width: 100%;
        display: flex;
        margin: 0;
        background-position: left 35px top 4px;
        padding-bottom: 30px;
        padding-left: 59px;
        background-color: #faf8f6;
    }
    .quiz-questions-item__question {
        color: #000;
        background-color: #faf8f6;

        font-size: clamp(2.5rem, 0.641rem + 7vw, 4rem);
        line-height: clamp(2.875rem, 0.474rem + 9.04vw, 4.813rem);

        padding: 75px 0px 0px 0px;

        justify-content: center;
        text-align: center;
    }
    .list-quiz__one-1 {
        margin-top: 0;
    }
    .list-quiz__one-1 {
        label {
            textarea {
                width: 370px;
                height: 85px;
                padding-top: 30px;
            }
        }
    }
    .btn-next {
        width: 32px;
        height: 32px;
        background-color: #dddddd;
        right: 22px;
        top: 27px;
    }
    .quiz-questions-item__answers {
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }
    .btn-new-next {
        background-color: transparent;
        width: 100%;
        height: 100%;
        border-radius: 16px;
        right: 0;
        top: 0;
        img {
            display: none;
        }
    }
    .list-quiz__two-1,
    .list-quiz__two-2,
    .list-quiz__three-1,
    .list-quiz__three-2,
    .list-quiz__three-3,
    .list-quiz__three-4,
    .list-quiz__four-1,
    .list-quiz__four-2,
    .list-quiz__four-3,
    .list-quiz__five-1,
    .list-quiz__five-2,
    .list-quiz__five-3,
    .list-quiz__six-1,
    .list-quiz__six-2,
    .list-quiz__six-3 {
        margin: 0px 0px 0px 0px;
        width: 40%;
        label {
            textarea {
                width: 100%;
                height: 104px;

                border-radius: 10px;

                padding: 33px 0px 0px 0px;
                margin: 18px 0 0 0;

                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;

                font-size: 16px;
                line-height: 22px;
            }
            button {
                img {
                    display: none;
                }
            }
        }
    }
    .list-quiz__two-1 {
        margin: 7px 7.5px 0 0px;
    }
    .list-quiz__two-2 {
        margin: 7px 0px 0px 7.5px;
    }
    .answers-page-3,
    .answers-page-4,
    .answers-page-5,
    .answers-page-6,
    .answers-page-8 {
        flex-direction: column;
        align-items: center;
    }
    .answers-page-4,
    .answers-page-5,
    .answers-page-6,
    .answers-page-8 {
        justify-content: flex-start;
    }
    .list-quiz__three-3 label textarea {
        padding-top: 20px;
    }
    .answers-page-3 {
        overflow-y: auto;
        padding: 270px 0 80px 0px;
    }
    .list-quiz__three-3 label textarea {
        padding-top: 20px;
        height: 120px;
    }
    .question-page-3 {
        flex: 0 1 70%;
        padding: 80px 62px 5px;
        text-align: center;
        align-items: center;
    }
    .question-page-4,
    .question-page-5,
    .question-page-6,
    .question-page-7,
    .question-page-8 {
        flex: 0 1 45%;
        padding: 80px 62px 5px;
        text-align: center;
        align-items: center;
    }
    .list-quiz__three-1,
    .list-quiz__three-2,
    .list-quiz__three-3,
    .list-quiz__three-4,
    .list-quiz__four-1,
    .list-quiz__four-2,
    .list-quiz__four-3,
    .list-quiz__five-1,
    .list-quiz__five-2,
    .list-quiz__five-3,
    .list-quiz__six-1,
    .list-quiz__six-2,
    .list-quiz__six-3 {
        margin: 0;
        width: 70%;
    }
    .answers-page-8 {
        padding: 0px 0 65px;
    }
}
@media (max-width: 424px) {
    .header-quiz__container {
        padding: 15px 18px 0 20px;
    }
    .quiz-indicator {
        font-size: 20px;
        line-height: 27px;

        padding: 0px 0px 2px 0px;
    }
    .quiz-questions-item__question {
        font-size: 24px;
        line-height: 29px;

        padding: 27px 62px 3px 62px;
        text-align: center;
        align-items: end;

        flex: 0 1 81%;
    }
    .btn-restart {
        margin: 0px 0px 20px 20px;
    }
    .list-quiz__one-1 {
        p {
            display: none;
        }
    }
    .list-quiz__one-1 {
        label {
            textarea {
                width: 335px;
                height: 56px;
                border-radius: 10px;
                padding-top: 16px;
            }
        }
    }
    .list-quiz__two-1,
    .list-quiz__two-2,
    .list-quiz__three-1,
    .list-quiz__three-2,
    .list-quiz__three-3,
    .list-quiz__three-4,
    .list-quiz__four-1,
    .list-quiz__four-2,
    .list-quiz__four-3,
    .list-quiz__five-1,
    .list-quiz__five-2,
    .list-quiz__five-3,
    .list-quiz__six-1,
    .list-quiz__six-2,
    .list-quiz__six-3 {
        margin: 0px 0px 0px 0px;
        width: 160px;
    }
    .list-quiz__two-1 {
        margin: 7px 7.5px 0 0px;
    }
    .list-quiz__two-2 {
        margin: 7px 0px 0px 7.5px;
    }
    .quiz-questions-item__answers {
        flex: auto;
    }
    .list-quiz__one-1 {
        margin-top: 6px;
    }
    .btn-next {
        right: 12px;
        top: 33px;
    }
    .btn-new-next {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        right: 0;
        top: 0;
    }
    .question-page-2,
    .question-page-7 {
        flex: 0 1 70%;
        padding: 27px 62px 5px;
    }
    .question-page-3 {
        flex: 0 1 29.6%;
        padding: 27px 45px 5px;
    }
    .btn-restart {
        color: #000;
        background-image: url("../img/Quiz/arrow.svg");
        width: 100%;
        display: flex;
        margin: 0;
        background-position: left 20px top 4px;
        padding-bottom: 20px;
        padding-left: 44px;
        background-color: #faf8f6;
    }
    .list-quiz__three-1,
    .list-quiz__three-2,
    .list-quiz__three-3,
    .list-quiz__three-4,
    .list-quiz__four-1,
    .list-quiz__four-2,
    .list-quiz__four-3,
    .list-quiz__five-1,
    .list-quiz__five-2,
    .list-quiz__five-3,
    .list-quiz__six-1,
    .list-quiz__six-2,
    .list-quiz__six-3,
    .icon-quiz__seven-1,
    .icon-quiz__seven-2 {
        margin: 0;
        width: 90%;
    }
    .list-quiz__four-1,
    .list-quiz__four-2,
    .list-quiz__four-3,
    .list-quiz__five-1,
    .list-quiz__five-2,
    .list-quiz__five-3 {
        margin: 19px 0 -19px 0px;
    }
    .list-quiz__two-1 label textarea,
    .list-quiz__two-2 label textarea {
        padding-top: 41px;
    }
    .list-quiz__three-1 label textarea,
    .list-quiz__three-2 label textarea,
    .list-quiz__three-3 label textarea,
    .list-quiz__three-4 label textarea,
    .list-quiz__four-1 label textarea,
    .list-quiz__four-2 label textarea,
    .list-quiz__four-3 label textarea,
    .list-quiz__five-1 label textarea,
    .list-quiz__five-2 label textarea,
    .list-quiz__five-3 label textarea {
        height: 60px;
        padding: 19px 20px 0px;
        margin: 10px 0px 0px 0px;
    }
    .list-quiz__three-3 label textarea {
        height: 104px;
    }
    .list-quiz__three-4 label textarea {
        height: 82px;
    }
    .list-quiz__six-1 label textarea,
    .list-quiz__six-3 label textarea {
        height: 82px;
        padding: 19px 20px 0px;
        margin: 0px 0px 0px 0px;
    }
    .list-quiz__six-2 label textarea {
        height: 60px;
        margin: 0px 0px 0px 0px;
        padding: 19px 0px 0px 0px;
    }
    .answers-page-3 {
        padding: 14px 0 0 0px;
        justify-content: flex-start;
    }
    .question-page-4,
    .question-page-5 {
        flex: 0 1 57%;
        padding: 0 17px 1px 18px;
    }
    .question-page-6 {
        flex: 0 1 44%;
        padding: 0 43px 0 44px;
    }
    .question-page-7 {
        flex: 0 1 79%;
        padding: 0 22px 0;
    }
    .list-quiz__six-1 {
        margin: 29px 0px 0px 0px;
    }
    .list-quiz__six-2 {
        margin: 10px 0px 0px 0px;
    }
    .list-quiz__six-3 {
        margin: 10px 0px 0px 0px;
    }
    .answers-page-7 {
        flex: auto;
        padding: 4px 0 00 0;
    }
    .question-page-8 {
        flex: 0 1 38%;
        padding: 0 30px 1px;
    }
    .answers-page-8 {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        padding: 30px 0 100px;
        overflow-y: auto;
        column-gap: 15px;
    }
    .list-quiz__eight-1,
    .list-quiz__eight-2 {
        width: 160px;
        height: 104px;
        border-radius: 10px;
        margin: 0px 0px 0px 0px;
        label {
            textarea {
                margin: 0px 0px 0px 0px;
                padding: 0px 0px 0px 0px;
                width: 160px;
                text-align: center;
                font-size: 16px;
                line-height: 22px;
            }
        }
    }
    .list-quiz__eight-1 {
        label {
            textarea {
                padding: 29px 5px 0;
            }
        }
    }
    .list-quiz__eight-2 {
        label {
            textarea {
                padding: 40px 5px 0;
            }
        }
    }
    .list-quiz__eight-3,
    .list-quiz__eight-4 {
        width: 160px;
        height: 104px;
        border-radius: 10px;
        margin: 0px 0px 0px 0px;
        transform: translateY(-12px);
        label {
            textarea {
                margin: 0px 0px 0px 0px;
                padding: 0px 0px 0px 0px;
                width: 160px;
                text-align: center;
                font-size: 16px;
                line-height: 22px;
            }
        }
    }
    .list-quiz__eight-3 {
        label {
            textarea {
                padding: 29px 25px 0;
            }
        }
    }
    .list-quiz__eight-4 {
        label {
            textarea {
                padding: 20px 18px 0;
            }
        }
    }
    .list-quiz__eight-5,
    .list-quiz__eight-6 {
        width: 160px;
        height: 104px;
        border-radius: 10px;
        margin: 0px 0px 0px 0px;
        transform: translateY(-22px);
        label {
            textarea {
                margin: 0px 0px 0px 0px;
                padding: 0px 0px 0px 0px;
                width: 160px;
                text-align: center;
                font-size: 16px;
                line-height: 22px;
            }
        }
    }
    .list-quiz__eight-5 {
        label {
            textarea {
                padding: 20px 20px 0;
                height: 105px;
            }
        }
    }
    .list-quiz__eight-6 {
        label {
            textarea {
                padding: 42px 18px 0;
                height: 105px;
            }
        }
    }
    .question-page-9 {
        padding: 27px 43px 3px;
    }
}
@media (max-width: 374px) {
    .quiz-questions-item__question {
        padding: 27px 34px 13px;
    }
    .question-page-2 {
        padding: 27px 35px 11px 35px;
        flex: 0 1 65%;
    }
    .question-page-3 {
        padding: 27px 35px 4px;
        flex: 0 1 47%;
    }
    .list-quiz__one-1 {
        label {
            textarea {
                width: 280px;
            }
        }
    }
    .answers-page-3 {
        padding: 16px 0 60px;
    }
    .answers-page-4{
        transform: translateY(-10px);
    }
    .answers-page-5{
        transform: translateY(-8px);
    }
    .list-quiz__one-1 {
        margin-top: -3px;
    }
    .icon-quiz__two-2 {
        display: none;
    }
    .list-quiz__two-1 {
        margin: 1px 8px 0 0;
        width: 132px;
    }
    .list-quiz__two-2 {
        margin: 1px 0 0 8px;
        width: 132px;
    }
    .btn-restart {
        color: #000;
        background-image: url("../img/Quiz/arrow.svg");
        width: 100%;
        display: flex;
        margin: 0;
        background-position: left 20px top 4px;
        padding-bottom: 20px;
        padding-left: 44px;
        background-color: #faf8f6;
    }
    .list-quiz__three-1 label textarea,
    .list-quiz__three-2 label textarea,
    .list-quiz__three-3 label textarea,
    .list-quiz__three-4 label textarea,
    .list-quiz__four-1 label textarea,
    .list-quiz__four-2 label textarea,
    .list-quiz__four-3 label textarea {
        padding: 19px 25px 0px;
    }
    .list-quiz__three-1,
    .list-quiz__three-2,
    .list-quiz__three-3,
    .list-quiz__three-4,
    .list-quiz__four-1,
    .list-quiz__four-2,
    .list-quiz__four-3,
    .list-quiz__five-1,
    .list-quiz__five-2,
    .list-quiz__five-3 {
        margin: 0;
        width: 88%;
    }
    .list-quiz__four-1,
    .list-quiz__four-2,
    .list-quiz__four-3,
    .list-quiz__five-1,
    .list-quiz__five-2,
    .list-quiz__five-3 {
        margin: 18px 0 -18px 0px;
    }
    .question-page-4 {
        flex: 0 1 55%;
        padding: 27px 34px 12px;
    }
    .question-page-5 {
        flex: 0 1 48%;
        padding: 27px 25px 10px;
    }
    .question-page-6,
    .question-page-8 {
        flex: 0 1 29%;
        padding: 0 0px 0 0;
    }
    .question-page-7 {
        flex: 0 1 85%;
        padding: 0 30px;
    }
    .answers-page-7 {
        flex: auto;
        align-items: flex-start;
        padding: 10px 0 00 0;
    }
    .list-quiz__six-1 {
        margin: 29px 0px 0px 0px;
        width: 87%;
    }
    .list-quiz__six-2 {
        margin: 10px 0px 0px 0px;
        width: 87%;
    }
    .list-quiz__six-3 {
        margin: 10px 0px 0px 0px;
        width: 87%;
    }
    .list-quiz__six-2 label textarea {
        height: 82px;
        padding: 19px 20px 0;
    }

    .question-page-8 {
        flex: 0 1 49%;
        padding: 0px 33px 1px;
    }
    .answers-page-8 {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        padding: 29px 0 45px;
        overflow-y: auto;
        column-gap: 15px;
    }
    .list-quiz__eight-1,
    .list-quiz__eight-2 {
        width: 132px;
        height: 104px;
        border-radius: 10px;
        margin: 0px 0px 0px 0px;
        label {
            textarea {
                margin: 0px 0px 0px 0px;
                padding: 0px 0px 0px 0px;
                width: 132px;
                text-align: center;
                font-size: 16px;
                line-height: 22px;
            }
        }
    }
    .list-quiz__eight-1 {
        label {
            textarea {
                padding: 31px 5px 0;
            }
        }
    }
    .list-quiz__eight-2 {
        label {
            textarea {
                padding: 41px 5px 0;
            }
        }
    }
    .list-quiz__eight-3,
    .list-quiz__eight-4 {
        width: 132px;
        height: 104px;
        border-radius: 10px;
        margin: 0px 0px 0px 0px;
        transform: translateY(-9px);
        label {
            textarea {
                margin: 0px 0px 0px 0px;
                padding: 0px 0px 0px 0px;
                width: 132px;
                text-align: center;
                font-size: 16px;
                line-height: 22px;
            }
        }
    }
    .list-quiz__eight-3 {
        label {
            textarea {
                padding: 29px 20px 0;
            }
        }
    }
    .list-quiz__eight-4 {
        label {
            textarea {
                padding: 17px 13px 0;
            }
        }
    }
    .list-quiz__eight-5,
    .list-quiz__eight-6 {
        width: 132px;
        height: 104px;
        border-radius: 10px;
        margin: 0px 0px 0px 0px;
        transform: translateY(-22px);
        label {
            textarea {
                margin: 0px 0px 0px 0px;
                padding: 0px 0px 0px 0px;
                width: 132px;
                text-align: center;
                font-size: 16px;
                line-height: 22px;
            }
        }
    }
    .list-quiz__eight-5 {
        label {
            textarea {
                padding: 15px 12px 0;
            }
        }
    }
    .list-quiz__eight-6 {
        label {
            textarea {
                padding: 40px 18px 0;
            }
        }
    }
    .question-page-9 {
        padding: 27px 39px 0px;
        flex: 0 1 84%;
    }
    .answers-page-9{
        .list-quiz__one-1{
            transform: translateY(13px);
        }
    }
}
