@import "fonts.scss";
@import "nullstyle.scss";
@import "../../node_modules/swiper/swiper-bundle.css";
//===========================

// Components ==========
@import "header.scss";
@import "mixFuncVar";
@import "burger.scss";
//======================

// Header ==============
@import "header.scss";
//======================

// Lending =============
@import "lending.scss";
@import "reviews.scss";
//======================

// Quiz ================
@import "quiz.scss";
//======================

// Pack ================
@import "pack.scss";
//======================

// Checkout ============
@import "checkout.scss";
//======================

// Catalogue ===========
@import "catalogue.scss";
//======================

// Sign-Up ===========
@import "signUp.scss";
//======================

// Sign-In ===========
@import "signIn.scss";
//======================

// Footer ==============
@import "footer.scss";
//======================

@import "card.scss";

@import "bag.scss";

@import "wholeSaleP";

* {
    // border: 1px solid red;
}
